<ngx-smart-modal identifier="viewDetailModal" customClass="max-w-75">
  <epsi-stat-view-detail [view]="tempView"></epsi-stat-view-detail>
</ngx-smart-modal>

<epsi-panel [showContent]="true" title="Timeline" *ngIf="auth.loggedIn">
  
  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <ul *ngIf="views$ | async as views else loader" class="list-group m-3">
    <li class="list-group-item" *ngFor="let view of views" (click)="openViewDetail(view)">{{view.name}}</li>
  </ul>

</epsi-panel>