<h4 *ngIf="text">{{text}}</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header.split('|||')[1]}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of sortOutput(output)">
      <td *ngFor="let cell of getValues(user)">{{cell}}</td>
    </tr>
  </tbody>
</table>

<button (click)="exportToCSV()" *ngIf="mode === 'default'" class="btn btn-primary">Descargar CSV (Esperar a que esté completado)</button>
<button (click)="exportToCSV()" *ngIf="mode === 'presenciales'" class="btn btn-primary">Descargar CSV (Esperar a que esté completado)</button>

<div class="row" *ngIf="mode === 'presenciales'">
  <div class="col-md-12 form-group">
    <input type="datetime-local" class="form-control" placeholder="Fecha Inicio" [(ngModel)]="filter.start">
  </div>
  <div class="col-md-12 form-group">
    <input type="datetime-local" class="form-control" placeholder="Fecha Fin" [(ngModel)]="filter.end">
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary mr-2" (click)="loadTablePresenciales(filter.start, filter.end)">Filtrar por Fecha</button>
    <button class="btn btn-primary mr-2" (click)="loadTablePresenciales()">Generar sin Fecha</button>
  </div>
</div>
