<epsi-panel title="Materias">
  <div class="contanier-fluid">
    <div class="row" *ngIf="auth.user">

      <div class="col-xs-12 col-sm-6 col-md-4 manita" *ngIf="!auth.isFull" (click)="router.navigate(['/pagar/curso-completo-exacer'])">
        <img src="assets/img/oferta.png" class="w-100">
      </div>

      <div
        class="col-xs-12 col-sm-6 col-md-4"
        *ngFor="let materia of materias$ | async">
        <epsi-materia-item [user]="auth.user" [materia]="materia"></epsi-materia-item>
      </div>

    </div>
  </div>
</epsi-panel>
