.zamna-toggle {

  background-color: rgb(255, 255, 255);
  border: 1px solid #5e4b8b;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;

  .toggle-chip {
    text-align: center;
    font-size: 1.15rem;
    color: #c99aff;
    font-weight: bolder;
    padding: 0.5rem;
  }

}

.zamna-toggle-active {
  background-color: #5e4b8b;
  color: #ebebeb;
}
