<form [formGroup]="addForm" (ngSubmit)="submitForm()">

  <h4 class="c-epsi-primary">Crear una pregunta</h4>

  <div class="form-group">
    <label for="">Tema</label>
    <input class="form-control" type="text" formControlName="title" placeholder="Tema de la publicación">
  </div>
  
  <div class="form-group">
    <label for="">Mi pregunta</label>
    <textarea class="form-control" formControlName="text" placeholder="Pregunta de la publicación"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Agregar Pregunta</button>

  <!-- <pre>{{addForm.value | json}}</pre> -->

</form>