<form [formGroup]="editForm" (ngSubmit)="submitForm()">

    <h1>Editar Contenido</h1>
  
    <div class="epsi-input">
      <label for="">Nombre</label>
      <input type="text" formControlName="name">
    </div>

    <div class="epsi-input">
      <label for="">Video</label>
      <input type="text" formControlName="video">
    </div>

    <div class="epsi-input">
      <label for="">Categoría del Foro</label>
      <input type="text" formControlName="forum" placeholder="Solo el Id de la categoría del foro">
    </div>
  
    <div class="epsi-input">
      <label for="">Descripción</label>
      <textarea formControlName="description"></textarea>
    </div>

    <div class="epsi-input">
      <label for="">¿Liberado a 360?</label>
      <input type="checkbox" formControlName="is360">
    </div>

    <div class="epsi-input">
      <label for="">¿Ignorar en Smart Calendar?</label>
      <input type="checkbox" formControlName="ignoreOnSmartCalendar">
    </div>
  
    <div class="epsi-input">
      <label for="">Tipo</label>
      <select formControlName="type">
        <option [value]="type" *ngFor="let type of contentTypes">{{type}}</option>
      </select>
    </div>
  
    <div class="epsi-input" *ngIf="contents$ | async as contents">
      <label for="">Padre</label>
      <select (change)="parentSelected(tempParent)" [(ngModel)]="tempParent" [ngModelOptions]="{standalone: true}">
        <option [ngValue]="null">-</option>
        <option *ngFor="let content of contents" [selected]="content.id == editForm.value.parent_id" [ngValue]="content">{{content.name}}</option>
      </select>
    </div>

    <div class="epsi-input">
      <label for="">Evento</label>
      <input type="text" formControlName="event" placeholder="Solo el Id del Evento para el Programa">
    </div>
  
    <app-storage-uploader (onFinish)="coverUploaded($event)"></app-storage-uploader>
  
    <hr>

    <div class="content-edit-markers">

      <div class="markers-edit-header flex flex-row flex-start">
        <h4>Marcadores</h4>
        <button type="button" (click)="addMarker(editForm.value.markers)">
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <div class="market-input flex flex-row flex-start" *ngFor="let marker of editForm.value.markers">
        <input type="text" [(ngModel)]="marker.tag" [ngModelOptions]="{standalone: true}" placeholder="Texto del Marcador">
        <ngb-timepicker [(ngModel)]="marker.time" [seconds]="true" (change)="markerChanged(marker)" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
      </div>

    </div>

    <hr>

    <div class="form-group" *ngIf="editForm.value.roles as roles">

      <div class="flex flex-row flex-start align-center mb-2">
        <label style="text-transform: capitalize">Roles requeridos para desbloquear</label>
        <button class="btn btn-secondary ml-2" type="button" (click)="addRole(roles)">Agregar</button>
      </div>

      <ul>
        <li *ngFor="let item of roles; let iRole = index" class="flex flex-row flex-start align-center p-1">
          <input type="text" class="form-control" [(ngModel)]="roles[iRole]" [ngModelOptions]="{updateOn: 'blur', standalone: true}">
          <button type="button" class="btn btn-danger ml-1" (click)="roles.splice(iRole, 1)">
            <i class="fa fa-close"></i>
          </button>
        </li>
      </ul>

    </div>

    <div class="epsi-input">
      <label for="">Slug de Modelo de Pago</label>
      <input type="text" formControlName="model_slug">
    </div>
  
    <button type="submit">Editar Contenido</button>
  
    <pre>{{editForm.value | json}}</pre>
  
  </form>
