<epsi-panel
  [blur]="!pay.isComplete()"
  [showContent]="false"
  title="Instrucciones antes de iniciar"
  img="assets/zamnademy/new-checklist.svg"
  height="300px"
  tutorial="9eGgiStB8XrEO8dZpaiB"
  toggleText="Toca las letras para leer las instrucciones">

  <ng-template #loader>
    <epsi-loader type="checklist"></epsi-loader>
  </ng-template>

  <div class="todo-list p-4" *ngIf="checklist else loader">
    <epsi-checklist-item *ngFor="let task of checklist" [todo]="task" [completed]="completedTasks.indexOf(task.id) >= 0"></epsi-checklist-item>
  </div>

  <!-- <pre>{{ completedTasks | json }}</pre> -->

</epsi-panel>
