<epsi-panel title="Video Streaming" img="assets/zamnademy/Especialidades2.png" [showContent]="false" tutorial="2QzV3ih3iPAoQRCZ02Fo">

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>
  
  <div class="epsi-content-carousel p-2 flex flex-row flex-start" *ngIf="content$ | async as content else loader">
    
    <div class="content-carousel-item" *ngFor="let item of content">
      <epsi-content-item [item]="item" [blur]="isBlur(item.name)"></epsi-content-item>
    </div>

  </div>

</epsi-panel>