<epsi-panel title="Video Streaming">

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>
  
  <div class="epsi-content-carousel flex flex-row flex-start" *ngIf="content$ | async as content else loader">
    
    <div class="content-carousel-item flex flex-col flex-center" *ngFor="let item of content">
      <img [src]="item.cover" [alt]="item.name">
      <h4>{{item.name}}</h4>
      <small>{{item.description}}</small>
      <div class="content-carousel-item-actions flex flex-row flex-center w-100">
        <button (click)="router.navigate(['/content', item.id])">Entrar</button>
        <!-- TODO: Add edit functionallity -->
        <button *ngIf="auth.isAdmin">Editar</button>
      </div>
    </div>

  </div>

</epsi-panel>