<div class="global-loader" *ngIf="!auth.loggedIn" [@animateItem]="!auth.loggedIn">
  <img src="assets/zamnademy/logo.png" class="mb-4">
  <svg width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;">
    <circle cx="50%" cy="50%" r="3.8414" fill="none" stroke="#fff" stroke-width="2">
      <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
      <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
    </circle>
    <circle cx="50%" cy="50%" r="14.669" fill="none" stroke="#fff" stroke-width="2">
      <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate>
      <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate>
    </circle>
  </svg>
</div>

<div class="container" style="margin-top: -1.25rem">

  <div class="row">

    <!-- Payment Panel Clean Account -->
    <div class="col-xs-12 col-md-12" *ngIf="!auth.isEsencial && !auth.isPremium">
      <div class="row">

        <div class="col-xs-12 col-md-6" *ngIf="modelEsencial$ | async as modelEsencial">
          <epsi-payment-model-panel [model]="modelEsencial"></epsi-payment-model-panel>
        </div>

        <div class="col-xs-12 col-md-6" *ngIf="modelPremium$ | async as modelPremium">
          <epsi-payment-model-panel [model]="modelPremium"></epsi-payment-model-panel>
        </div>

      </div>
    </div>

    <!-- Home Left Column -->
    <div class="col-xs-12 col-md-4">

        <!-- Todo Panel  -->
      <epsi-checklist-panel *ngIf="auth.isChecklist"></epsi-checklist-panel>

      <!-- Top Users Panel -->
      <epsi-top-users-panel *ngIf="auth.isTopUsers"></epsi-top-users-panel>

    </div>

    <!-- Home Main Column -->
    <div class="col-xs-12 col-md-8">

      <!-- TODO: Switch between Programa and Calendar -->

      <!-- Programa Panel --> 
      <epsi-programa-panel *ngIf="auth.isPrograma"></epsi-programa-panel>

      <!-- Calendar Panel -->
      <epsi-calendar-panel *ngIf="auth.isCalendar"></epsi-calendar-panel>

      <!-- Content Panel -->
      <!-- TODO: Cambiar por auth.isContent -->
      <epsi-content-panel></epsi-content-panel>

    </div>

    <!-- Home Secondary Grid -->
    <div class="col-xs-12 col-md-12">
      <div class="row">

        <!-- Galleries Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-galleries-panel *ngIf="auth.isGalleries"></epsi-galleries-panel>
        </div>

        <!-- Simuladores Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-simuladores-panel *ngIf="auth.isSimuladores"></epsi-simuladores-panel>
        </div>

        <!-- Foro Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-forum-panel *ngIf="auth.isForum"></epsi-forum-panel>
        </div>

        <!-- Asesorias Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-livestreams-panel *ngIf="auth.isStreaming"></epsi-livestreams-panel>
        </div>

        <!-- Descagables/Media Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-media-panel *ngIf="auth.isMedia"></epsi-media-panel>
        </div>

        <!-- Slides Panel -->
        <div class="col-xs-12 col-md-4" *ngIf="auth.isEsencial || auth.isPremium">
          <epsi-slides-panel *ngIf="auth.isSlides"></epsi-slides-panel>
        </div>

        <!-- Simulacros Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-simulacros-panel *ngIf="auth.isSimulacros"></epsi-simulacros-panel>
        </div>

        <!-- Question Pool Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-question-pool-panel *ngIf="auth.isPool"></epsi-question-pool-panel>
        </div>

        <!-- Tags Pool Panel -->
        <div class="col-xs-12 col-md-4">
          <epsi-tags-pool-panel *ngIf="auth.isTagPool"></epsi-tags-pool-panel>
        </div>

      </div>
    </div>

    <!-- Pit buy panel -->
    <div class="col-xs-12 col-md-12" *ngIf="!auth.isTemprano">
      <epsi-ad-pit-panel></epsi-ad-pit-panel>
    </div>

    <!-- Premium upgrade panel -->
    <div class="col-xs-12 col-md-12" *ngIf="!auth.isPremium">
      <epsi-ad-premium-upgrade-panel></epsi-ad-premium-upgrade-panel>
    </div>

    <!-- Feed Column -->
    <div class="col-xs-12 col-md-12" *ngIf="auth.isFeed">
      <epsi-feed-panel></epsi-feed-panel>
    </div>

  </div>  
  
</div>