<div class="global-loader" *ngIf="!auth.loggedIn" [@animateItem]="!auth.loggedIn">
  <img src="assets/zamnademy/logo.png" class="mb-4">
  <svg width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;">
    <circle cx="50%" cy="50%" r="3.8414" fill="none" stroke="#fff" stroke-width="2">
      <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
      <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
    </circle>
    <circle cx="50%" cy="50%" r="14.669" fill="none" stroke="#fff" stroke-width="2">
      <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate>
      <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate>
    </circle>
  </svg>
</div>

<ngx-smart-modal identifier="moodAddModal" #moodAddModal [closable]="false">
  <div class="container">
    <div class="row">

      <div class="col-md-12" *ngIf="!selectedMood">
        <h4>¿Cómo te sientes hoy?</h4>
      </div>

      <div class="col-md-12" *ngIf="!selectedMood">
        <ul class="mood-rate-list">
          <li class="mt-4">
            <button class="btn btn-danger w-100" type="button" (click)="sendMood(1, mood.text)">Muy Mal</button>
            <!--<input type="radio" [value]="1" id="mood-1" [(ngModel)]="mood.mood">
            <label class="ml-2" for="mood-1">Muy Mal</label>-->
          </li>
          <li class="mt-4">
            <button class="btn btn-warning w-100" type="button" (click)="sendMood(2, mood.text)">Mal</button>
            <!--<input type="radio" [value]="2" id="mood-2" [(ngModel)]="mood.mood">
            <label class="ml-2" for="mood-2">Mal</label>-->
          </li>
          <li class="mt-4">
            <button class="btn btn-secondary w-100 btn-orange" type="button" (click)="sendMood(3, mood.text)">Regular</button>
          </li>
          <li class="mt-4">
            <button class="btn btn-success w-100" type="button" (click)="sendMood(4, mood.text)">Bien</button>
          </li>
          <li class="mt-4">
            <button class="btn btn-info w-100" type="button" (click)="sendMood(5, mood.text)">Muy Bien</button>
          </li>
          <li class="mt-4">
            <button class="btn btn-primary w-100" type="button" (click)="sendMood(6, mood.text)">Excelente</button>
          </li>
        </ul>
      </div>

      <div class="col-md-12 form-group mt-3" *ngIf="selectedMood">
        <label for="">¿Por qué te sientes así?</label>
        <textarea placeholder="Si no quieres comentar, solo toca enviar" [(ngModel)]="mood.text" class="form-control"></textarea>
      </div>

      <div class="col-md-12" *ngIf="selectedMood">
        <button type="button" class="btn btn-primary" (click)="sendFinalMood(selectedMood, mood.text)">Enviar</button>
      </div>

      <div class="col-md-12" *ngIf="!selectedMood">
        <!--<button class="btn btn-success" [disabled]="!mood.mood && !mood.text" (click)="sendMood()">Enviar</button>-->
        <button class="btn btn-danger ml-2" type="button" (click)="sendMood(-1, mood.text)">No quiero contestar hoy</button>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal identifier="dailyModal">
  <div class="container-fluid" *ngIf="daily">
    <div class="row">

      <div class="col-md-12" *ngIf="daily.title">
        <h2>{{daily.title}}</h2>
      </div>

      <div class="col-md-12">
        <p>{{daily.text}}</p>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<div class="container">

  <div class="row">

    <!-- Payment Panel Clean Account -->
    <!-- <div class="col-xs-12 col-md-12" *ngIf="!auth.isEsencial && !auth.isPremium && !auth.isPresencial && !auth.isPremium360 && !auth.isEsencial360 && !auth.isPremium2019 && !auth.isZamna360_2019">
      <div class="row flex-center">

        <div class="col-xs-12 col-md-6" *ngIf="modelEsencial$ | async as modelEsencial">
          <epsi-payment-model-panel [disabled]="true" [model]="modelEsencial"></epsi-payment-model-panel>
        </div>

        <div class="col-xs-12 col-md-6" *ngIf="modelPremium$ | async as modelPremium">
          <epsi-payment-model-panel [model]="modelPremium"></epsi-payment-model-panel>
        </div>

      </div>
    </div> -->

    <!-- Home Left Column -->
    <div class="col-xs-12 col-md-4">

        <!-- Todo Panel  -->
      <epsi-checklist-panel *ngIf="auth.isChecklist"></epsi-checklist-panel>

      <!-- Top Users Panel -->
      <epsi-top-users-panel *ngIf="auth.isTopUsers"></epsi-top-users-panel>

    </div>

    <!-- Home Main Column -->
    <div class="col-xs-12 col-md-8">

      <!-- Programa Panel Alt -->
      <epsi-programa-panel-alt *ngIf="auth.isPremium2020"></epsi-programa-panel-alt>

      <!-- Programa Panel -->
      <!-- <epsi-programa-panel *ngIf="auth.isAdmin"></epsi-programa-panel> -->

      <!-- Calendar Panel -->
      <epsi-calendar-panel *ngIf="(auth.isCalendar || auth.isPresencial || auth.isEsencial360 || auth.isPremium360) && !auth.isAdmin"></epsi-calendar-panel>
      <epsi-smart-calendar-panel *ngIf="(auth.isAdmin || auth.isSmartCalendar) && !auth.user.noCalendar"></epsi-smart-calendar-panel>
      <epsi-panel *ngIf="auth.user && auth.user.noCalendar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="button" (click)="removeNoCalendar()">Estudiar con Calendario</button>
            </div>
          </div>
        </div>
      </epsi-panel>

      <!-- Content Panel -->
      <epsi-content-panel *ngIf="auth.isAdmin"></epsi-content-panel>

      <!-- Zona ENARM Panel -->
      <epsi-zona-enarm-panel *ngIf="auth.isAdmin || auth.isPremium2020 || auth.isLight2020"></epsi-zona-enarm-panel>

      <epsi-zamna-contigo-panel *ngIf="auth.isAdmin || auth.isPremium2020 || auth.isLight2020"></epsi-zamna-contigo-panel>

    </div>

    <!-- Home Secondary Grid -->
    <div class="col-xs-12 col-md-12" *ngIf="false">
      <div class="row">

        <!-- Galleries Panel -->
        <div class="col-xs-12 col-md-3" *ngIf="auth.isGalleries">
          <epsi-galleries-panel></epsi-galleries-panel>
        </div>

        <!-- Simuladores Panel -->
        <div class="col-xs-12 col-md-3" *ngIf="auth.isSimuladores && !auth.isPresencial">
          <epsi-simuladores-panel></epsi-simuladores-panel>
        </div>

        <!-- Foro Panel -->
        <div class="col-xs-12 col-md-3" *ngIf="auth.isForum">
          <epsi-forum-panel></epsi-forum-panel>
        </div>

        <!-- Asesorias Panel -->
        <!-- <div class="col-xs-12 col-md-4">
          <epsi-livestreams-panel *ngIf="auth.isStreaming"></epsi-livestreams-panel>
        </div> -->

        <!-- Descagables/Media Panel -->
        <div class="col-xs-12 col-md-3" *ngIf="auth.isMedia">
          <epsi-media-panel></epsi-media-panel>
        </div>

        <!-- Slides Panel -->
        <!--<div class="col-xs-12 col-md-4" *ngIf="auth.isEsencial || auth.isPremium || auth.isPremium2019">-->
        <div class="col-xs-12 col-md-3" *ngIf="auth.isSlides">
          <epsi-slides-panel></epsi-slides-panel>
        </div>

        <!-- Simulacros Panel -->
        <div class="col-xs-12 col-md-3" *ngIf="auth.isSimulacros && !auth.isPresencial">
          <epsi-simulacros-panel></epsi-simulacros-panel>
        </div>

        <!-- Question Pool Panel -->
        <!--<div class="col-xs-12 col-md-4">
          <epsi-question-pool-panel *ngIf="auth.isPool"></epsi-question-pool-panel>
        </div>-->

        <!-- Tags Pool Panel -->
        <!--<div class="col-xs-12 col-md-4">
          <epsi-tags-pool-panel *ngIf="auth.isTagPool"></epsi-tags-pool-panel>
        </div>-->

      </div>
    </div>

    <!-- Pit buy panel -->
    <!--<div class="col-xs-12 col-md-12" *ngIf="!auth.isTemprano && !auth.isPresencial">
      <epsi-ad-pit-panel></epsi-ad-pit-panel>
    </div>-->

    <!-- Premium upgrade panel -->
    <!--<div class="col-xs-12 col-md-12" *ngIf="unlockedPremiumUpgrade()">
      <epsi-ad-premium-upgrade-panel></epsi-ad-premium-upgrade-panel>
    </div>-->

    <!-- Feed Column -->
    <div class="col-xs-12 col-md-12" *ngIf="auth.isFeed">
      <epsi-feed-panel></epsi-feed-panel>
    </div>

  </div>

</div>
