<ngx-smart-modal identifier="eventsModal" customClass="max-w-50">
  <epsi-calendar-events-modal [events]="dayEvents"></epsi-calendar-events-modal>
</ngx-smart-modal>

<epsi-panel title="¿Qué vamos a hacer hoy?" img="https://zamnademy.com/site/images/clients/calendario.png" [showContent]="true">

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>
  
  <div class="calendar-panel-actions">

  </div>

  <div class="calendar-panel-body" *ngIf="events$ | async as events else loader">
    <mwl-calendar-month-view
      locale="es"
      [viewDate]="viewDate"
      [events]="events"
      (dayClicked)="dayClicked($event.day)"></mwl-calendar-month-view>
  </div>

</epsi-panel>