h1 {
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-weight: bolder;
  font-size: 2.5rem;
  cursor: pointer;
  color: lighten($color: #5e4b8b, $amount: 40%);
  margin-right: 1rem;
}

.mode-container {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.model-selected {
  color: darken($color: #5e4b8b, $amount: 20%);
}

img {
  width: 100%;
  margin-top: 2rem;
}

.una-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  label { margin-top: 2rem; }

}

label {
  font-size: 1.35rem;
}

.actions-container {

  margin-top: 3rem;
  padding-top: 0.5rem;
  border-top: 1px solid #ddd;

  h1 small {
    font-size: 0.75rem;
  }

}

@media only screen and (max-width: 768px) {
  .model-name { font-size: 1.75rem; }
  h2 { font-size: 2rem; }
  .mode-container { margin: 1rem !important; }
  label { font-size: 1rem; }
  img { display: none; }
  h1 { font-size: 1.25rem; }
  .actions-container { margin-top: 1rem;}
}

.payment-popup {

  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 200px;
  padding: 1rem;
  z-index: 9999;

  h4 {
    font-size: 1rem;
  }

}
