<div class="p-4">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <h1 class="c-epsi-primary w-100 text-center">{{model.name}}</h1>
      </div>

      <div class="col-md-12">
        <div class="row">

          <div class="col-md-6">
            <div class="row">

              <div class="col-md-12 mode-container">
                <h2 [ngClass]="{'model-selected': mode === 'premium'}" (click)="mode = 'premium'">Premium</h2>
                <h2 [ngClass]="{'model-selected': mode === 'light'}" (click)="mode = 'light'">Light</h2>
              </div>

              <div class="col-md-12 mt-2 form-group mt-2">
                <label for="" class="text-primary">Cuanto tiempo necesitas estudiar?</label>
                <select name="" id="" class="form-control">
                  <option value="">1 Mes</option>
                  <option value="">1 Ano</option>
                </select>
              </div>

              <div class="col-md-12 mt-2 form-group mt-2">
                <div class="una-container">
                  <label for="" class="text-primary">Necesitas estudiar solo una especialidad?</label>
                  <epsi-zamna-toggle></epsi-zamna-toggle>
                </div>
                <select name="" id="" class="form-control">
                  <option value="">Selecciona</option>
                </select>
              </div>


            </div>
          </div>

          <div class="col-md-6">
            <div class="row">

              <div class="col-md-12">
                <img src="assets/payment.png" class="w-100">
              </div>

              <div class="col-md-12"></div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 actions-container">
        <div class="w-100 flex flex-row align-center">

          <div class="flex flex-col">
            <h1 class="text-primary">$ 1,270 <small> / 1 Persona / Al Mes</small> </h1>
            <small class="text-primary">Especialidad 1 / Especialidad 2 / Especialidad 3</small>
          </div>

          <div class="flex flex-row align-center">
            <input type="text" class="form-control" placeholder="Codigo de descuento">
            <button class="btn btn-secondary">Pagar Ahora</button>
            <button class="btn btn-primary">Pagar en Oxxo / Deposito bancario</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
