<ngx-smart-modal identifier="payModal" #payModal>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="w-100 flex flex-row">
          <div class="flex flex-col">
            <h2 class="text-primary">$ 1,279</h2>
            <small class="text-primary">{{ team | number }} Persona / Al Mes</small>
          </div>
          <input type="text" class="form-control ml-auto" placeholder="Codigo de Descuento" style="width: 60%">
        </div>
      </div>

      <div class="col-md-12 mt-2">
        <h5 class="text-primary">{{ selectedMaterias }}</h5>
      </div>

      <div class="col-md-6">
        <button class="btn btn-info w-100">Pagar con Paypal</button>
      </div>

      <div class="col-md-6">
        <button class="btn btn-primary w-100">Pagar en OXXO / Deposito Bancario</button>
      </div>

      <div class="col-md-6">
        <button class="btn btn-primary w-100">Pagar con tarjeta Debito/Credito</button>
      </div>

      <div class="col-md-6">
        <button class="btn text-primary w-100" (click)="payModal.close()">Cancelar</button>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<div class="p-1">
  <div class="container">
    <div class="row">

      <div class="col-md-12 mt-1">
        <h1 class="c-epsi-primary w-100 text-center model-name">{{model.name}}</h1>
      </div>

      <div class="col-md-12">
        <div class="row">

          <div class="col-md-6">
            <div class="row">

              <div class="col-md-12 mode-container">
                <h2 [ngClass]="{'model-selected': mode === 'premium'}" (click)="mode = 'premium'">Premium</h2>
                <h2 [ngClass]="{'model-selected': mode === 'light'}" (click)="mode = 'light'">Light</h2>
              </div>

              <div class="col-md-12 mt-2 form-group mt-2">
                <label for="" class="text-primary">¿Cuánto tiempo necesitas estudiar?</label>
                <div ngbDropdown>
                  <button class="btn btn-outline-primary w-100" id="selectMeses" ngbDropdownToggle>{{ meses }} Meses</button>
                  <div class="pay-select" ngbDropdownMenu aria-labelledby="selectMeses">
                    <button (click)="meses = 1">1 Mes</button>
                    <button (click)="meses = 2" *ngIf="mode !== 'premium'">2 Meses</button>
                    <button (click)="meses = 3">3 Meses</button>
                    <button (click)="meses = 6" *ngIf="mode === 'premium'">6 Meses</button>
                    <button (click)="meses = 9" *ngIf="mode === 'premium'">9 Meses</button>
                    <button (click)="meses = 12" *ngIf="mode === 'premium'">12 Meses</button>
                  </div>
                </div>
                <!-- <select class="form-control" [(ngModel)]="meses">
                  <option [value]="1">1 Mes</option>
                  <option [value]="2" *ngIf="mode !== 'premium'">2 Meses</option>
                  <option [value]="3">3 Meses</option>
                  <option [value]="6" *ngIf="mode === 'premium'">6 Meses</option>
                  <option [value]="9" *ngIf="mode === 'premium'">9 Meses</option>
                  <option [value]="12" *ngIf="mode === 'premium'">12 Meses</option>
                </select> -->
              </div>

              <div class="col-md-12 mt-2 form-group mt-2" *ngIf="mode === 'premium'">
                <div class="una-container">
                  <label for="" class="text-primary">¿Quieres tener todas o solo alguna especialidad?</label>
                </div>
                <div class="flex flex-row align-center">
                  <epsi-zamna-toggle (change)="materia = $event" class="mr-4" leftText="Algunas" rightText="Todas"></epsi-zamna-toggle>
                  <div ngbDropdown class="w-100">
                    <button [disabled]="materia" class="btn btn-outline-primary" style="width: 100% !important" id="selectMateria" ngbDropdownToggle>Selecciona</button>
                    <div class="pay-select" ngbDropdownMenu aria-labelledby="selectMateria">
                      <!-- <button>Selecciona</button> -->
                      <button (click)="materias['Medicina Interna'] = !materias['Medicina Interna']"> <i *ngIf="materias['Medicina Interna']" class="fa fa-check"></i> Medicina Interna</button>
                      <button (click)="materias['Pediatria'] = !materias['Pediatria']"> <i *ngIf="materias['Pediatria']" class="fa fa-check"></i> Pediatria</button>
                      <button (click)="materias['Gineco'] = !materias['Gineco']"> <i *ngIf="materias['Gineco']" class="fa fa-check"></i> Gineco</button>
                      <button (click)="materias['Cirugia'] = !materias['Cirugia']"> <i *ngIf="materias['Cirugia']" class="fa fa-check"></i> Cirugia</button>
                      <button (click)="materias['Urgencias'] = !materias['Urgencias']"> <i *ngIf="materias['Urgencias']" class="fa fa-check"></i> Urgencias</button>
                    </div>
                  </div>
                  <!-- <select [(ngModel)]="materia" class="form-control">
                    <option [value]="null">Selecciona</option>
                    <option value="Medicina Interna">Medicina Interna</option>
                    <option value="Pediatria">Pediatria</option>
                    <option value="Gineco">Gineco</option>
                    <option value="Cirugia">Cirugia</option>
                    <option value="Urgencias">Urgencias</option>
                  </select> -->
                </div>
              </div>

              <div class="col-md-12 mt-2 form-group mt-2">
                <div class="payment-popup flex flex-col align-center justify-center" *ngIf="tooltipTeam">
                  <h4>Seleccionar ésta opción significa que estarás contratando el numero de cuentas que aquí se pone. Te daremos códigos de acceso para que los amigos con los que estudiarás desbloqueen su curso.</h4>
                </div>
                <label for="" class="text-primary" (mouseover)="tooltipTeam = true" (mouseleave)="tooltipTeam = false">¿Estudiarás solo o en equipo? <i class="fa fa-question-circle"></i></label>
                <div ngbDropdown class="w-100">
                  <button class="btn btn-outline-primary" style="width: 100% !important" id="selectTeam" ngbDropdownToggle>{{ team > 1 ? team : 'Solo yo' }}</button>
                  <div class="pay-select" ngbDropdownMenu aria-labelledby="selectTeam">
                    <button (click)="team = 1">Solo Yo</button>
                    <button (click)="team = 2">2</button>
                    <button (click)="team = 3">3</button>
                    <button (click)="team = 4">4</button>
                    <button (click)="team = 5">5</button>
                    <button (click)="team = 6">6</button>
                  </div>
                </div>
                <!-- <select [(ngModel)]="team" class="form-control">
                  <option [value]="1" selected>Solo yo</option>
                  <option [value]="2">2</option>
                  <option [value]="3">3</option>
                  <option [value]="4">4</option>
                  <option [value]="5">5</option>
                  <option [value]="6">6</option>
                </select> -->
              </div>

            </div>
          </div>

          <div class="col-md-6">
            <div class="row">

              <div class="col-md-12 flex flex-col align-center justify-center">
                <img src="assets/payment.png" class="w-100" (mouseover)="showTooltip = true">
                <div class="payment-popup flex flex-col align-center justify-center" *ngIf="showTooltip" (mouseover)="showTooltip = true">
                  <h4><i class="fa fa-times c54 manita" (click)="showTooltip = false"></i> Quieres conocer el sistema con una seleccion de temas a una fraccion del precio?</h4>
                  <button class="btn btn-primary">Probar version light</button>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 actions-container" style="margin-bottom: 2rem;">
        <div class="w-100 flex flex-row align-center">

          <div class="flex flex-col">
            <h1 class="text-primary">$ {{ precio | number }}</h1>
            <small class="text-primary">{{ team | number }} Persona / Al Mes</small>
          </div>

          <div class="flex flex-col ml-4">
            <h4 class="text-primary">Especialidades</h4>
            <small class="text-primary">{{ selectedMaterias }}</small>
          </div>

          <div class="flex flex-row align-center ml-auto">
            <!-- <input type="text" class="form-control" placeholder="Codigo de descuento">
            <button class="btn btn-secondary">Pagar Ahora</button> -->
            <button class="btn btn-primary" (click)="payModal.open()">Continuar</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
