<epsi-panel title="Cuadro de Honor" [showContent]="true" img="assets/zamnademy/team.svg" class="p-2" tutorial="omlTZgbLbWRdm6SDMRvw">

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <div class="p-2">
    <ul *ngIf="users$ | async as users else loader" class="top-users-list">
      <li *ngFor="let user of users">
        <img [src]="user.photoURL">
        <strong style="font-size: 1.25rem" class="ml-2">{{(user.promedio / 10).toFixed(2)}}</strong>
        <span>{{user.displayName}}</span>
      </li>
    </ul>
    
    <!-- <div class="flex-loader">
      <button type="button" class="btn btn-primary mt-2" *ngIf="auth.isAdmin" (click)="reloadUsers()">Recargar Información</button>
    </div> -->
    
  </div>

</epsi-panel>