<epsi-panel title="Mis Notas" [showContent]="true">

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <div class="notes-content" *ngIf="notes$ | async as notes else loader">
    <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let note of notes">
        <div class="note-item p-3">
          <h4 class="m-0">{{note.title}}</h4>
          <p class="m-0">{{note.text}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <form class="notes-add-form flex flex-col flex-start" *ngIf="noteForm" [formGroup]="noteForm" (ngSubmit)="addNote()">
    <input type="text" formControlName="title" placeholder="Titulo">
    <textarea formControlName="text" rows="3" placeholder="Contenido"></textarea>
    <button class="btn btn-secondary" type="submit" [disabled]="!noteForm.valid">Agregar Nota</button>
  </form>

</epsi-panel>