<epsi-panel title="Mis Notas" [showContent]="true">

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <div class="notes-content" *ngIf="notes$ | async as notes else loader">
    <div class="note-item" *ngFor="let note of notes">
      <h4>{{note.title}}</h4>
      <p>{{note.text}}</p>
    </div>
  </div>

  <form class="notes-add-form" *ngIf="noteForm" [formGroup]="noteForm" (ngSubmit)="addNote()">
    <input type="text" formControlName="title" placeholder="Titulo">
    <textarea formControlName="text" rows="10" placeholder="Contenido"></textarea>
    <button type="submit" [disabled]="!noteForm.valid">Agregar Nota</button>
  </form>

</epsi-panel>