<div class="epsi-admin-page">
  
  <epsi-panel title="Panel de Administración">
    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Usuarios" icon="user" page="/admin/users"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Contenido" icon="book" page="/admin/content"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Galerías" icon="image" page="/admin/galleries"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Descargables" icon="file" page="/admin/media"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Preguntas" icon="question-circle" page="/admin/questions"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Exámenes" icon="list-alt" page="/admin/exams"></epsi-admin-tile>
        </div>
  
      </div>
    </div>
  </epsi-panel>

</div>