<ngx-smart-modal identifier="toolUploaderModal" #toolUploaderModal>
  <epsi-tool-uploader></epsi-tool-uploader>
</ngx-smart-modal>

<div class="epsi-admin-page container mt-retro">
  
  <epsi-panel title="Panel de Administración" [showContent]="true">
    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Usuarios" icon="user" page="/admin/users"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Contenido" icon="book" page="/admin/content"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Galerías" icon="image" page="/admin/galleries"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Descargables" icon="file" page="/admin/media"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Preguntas" icon="question-circle" page="/admin/questions"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Exámenes" icon="list-alt" page="/admin/exams"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Asesorías" icon="video-camera" page="/admin/asesorias"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Presentaciones" icon="file-image-o" page="/admin/slides"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Checklist" icon="list" page="/admin/checklist"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Notas" icon="sticky-note" page="/admin/notes"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Comentarios" icon="comment" page="/admin/comments"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Sugerencias" icon="info" page="/admin/suggestions"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Eventos" icon="calendar" page="/admin/events"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Foro" icon="question" page="/admin/forum"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Tags" icon="tags" page="/admin/tags"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Estadísticas" icon="bar-chart" page="/admin/stats"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Modelos" icon="money" page="/admin/payment-models"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Notificaciones" icon="bell" page="/admin/notifications"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Cupones" icon="vcard-o" page="/admin/coupons"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="IPN" icon="flag" page="/admin/ipn"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Programa" icon="step-forward" page="/admin/programa"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Contadores" icon="sort-numeric-asc" page="/admin/stats/counters"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Errores" icon="exclamation-triangle" page="/admin/content-error"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Rankings" icon="area-chart" page="/admin/exam-rankings"></epsi-admin-tile>
        </div>

        <div class="col-xs-12 col-md-2">
          <epsi-admin-tile title="Temas" icon="map-signs" page="/admin/tags-pool"></epsi-admin-tile>
        </div>
  
      </div>
    </div>
  </epsi-panel>

  <epsi-panel title="Herramientas de Administración">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-2" (click)="toolUploaderModal.open()">
          <epsi-admin-tile title="Subir Archivos" icon="upload"></epsi-admin-tile>
        </div>

        <div class="col-md-2">
          <epsi-admin-tile page="/admin/migration" title="Migración" icon="angle-double-right"></epsi-admin-tile>
        </div>

        <div class="col-md-2">
          <epsi-admin-tile page="/admin/landing-fields" title="Landing Fields" icon="commenting-o"></epsi-admin-tile>
        </div>
  
      </div>
    </div>
  </epsi-panel>

</div>