<div class="container" *ngIf="user">
  <div class="row">

    <div class="col-md-12">
      <h4 class="c-epsi-primary">Editar Roles de Usuario</h4>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Premium?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(premiumModel, true)" class="btn btn-success" type="button"
              *ngIf="!user.isPremium2020">Dar Premium 2020
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(premiumModel, false)" class="btn btn-danger" type="button"
              *ngIf="user.isPremium2020">Quitar Premium 2020
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Light?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(lightModel, true)" class="btn btn-success" type="button"
              *ngIf="!user.isLight2020">Dar Light 2020
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(lightModel, false)" class="btn btn-danger" type="button"
              *ngIf="user.isLight2020">Quitar Light 2020
      </button>
      <hr>
    </div>

    <hr>

    <div class="col-md-12" *ngFor="let role of roles">
      <h5 class="m-0 mb-1">¿Es {{ role[0] }}?</h5>
      <button [disabled]="l" (click)="modifyUserRoles([roles[1]], true)" class="btn btn-success" type="button"
              *ngIf="!user[role[1]]">Dar {{ role[0] }}
      </button>
      <button [disabled]="l" (click)="modifyUserRoles([roles[1]], false)" class="btn btn-danger" type="button"
              *ngIf="user[role[1]]">Quitar {{ role[0] }}
      </button>
    </div>

    <div class="col-md-12">
      <pre>{{ user | json }}</pre>
    </div>


  </div>
</div>
