<div class="container" *ngIf="user">
  <div class="row">

    <div class="col-md-12">
      <h4 class="c-epsi-primary">Editar Roles de Usuario</h4>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Premium?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(premiumModel, true)" class="btn btn-success" type="button"
              *ngIf="!user.isPremium">Dar Premium
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(premiumModel, false)" class="btn btn-danger" type="button"
              *ngIf="user.isPremium">Quitar Premium
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Esencial?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(esencialModel, true)" class="btn btn-success" type="button"
              *ngIf="!user.isEsencial">Dar Esencial
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(esencialModel, false)" class="btn btn-danger" type="button"
              *ngIf="user.isEsencial">Quitar Esencial
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Admin?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(adminModel, true)" class="btn btn-success" type="button"
              *ngIf="!user.isAdmin">Dar Admin
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(adminModel, false)" class="btn btn-danger" type="button"
              *ngIf="user.isAdmin">Quitar Admin
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Presencial?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(presencialModel, true)" class="btn btn-success" type="button"
              *ngIf="!user.isPresencial">Dar Presencial
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(presencialModel, false)" class="btn btn-danger" type="button"
              *ngIf="user.isPresencial">Quitar Presencial
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es PIT?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(tempranoModel, true)" class="btn btn-success" type="button"
              *ngIf="!user.isTemprano">Dar PIT
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(tempranoModel, false)" class="btn btn-danger" type="button"
              *ngIf="user.isTemprano">Quitar PIT
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Premium 2019?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(premium2019Model, true)" class="btn btn-success" type="button"
              *ngIf="!user.isPremium2019">Dar Premium 2019
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(premium2019Model, false)" class="btn btn-danger" type="button"
              *ngIf="user.isPremium2019">Quitar Premium 2019
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <h5 class="m-0 mb-1">¿Es Zamna 360 2019?</h5>
      <button [disabled]="l" (click)="modifyUserRoles(zamna360_2019Model, true)" class="btn btn-success" type="button"
              *ngIf="!user.is3602019">Dar Zamná 360 2019
      </button>
      <button [disabled]="l" (click)="modifyUserRoles(zamna360_2019Model, false)" class="btn btn-danger" type="button"
              *ngIf="user.is3602019">Quitar Zamná 360 2019
      </button>
      <hr>
    </div>

    <div class="col-md-12">
      <pre>{{ user | json }}</pre>
    </div>


  </div>
</div>
