<ng-template #loader>
  <epsi-loader></epsi-loader>
</ng-template>

<div class="epsi-event-detail" *ngIf="event else loader">

  <h2 class="text-center">{{event.title}}</h2>
  <p>{{event.desc}}</p>

  <div class="event-tasks" *ngIf="event.tasks as tasks">

    <hr>
    <h4>Tareas</h4>

    <ul>
      <li *ngFor="let task of tasks" (click)="toggleCompleted(task.id)" class="manita">
        <input type="checkbox" [checked]="completedTasks.indexOf(task.id) >= 0" *ngIf="completedTasks">
        <span>{{task.label}}</span>
      </li>
    </ul>
    
  </div>

</div>