<ng-template #loader>
  <epsi-loader></epsi-loader>
</ng-template>

<div class="epsi-event-detail p-4" *ngIf="event else loader">

  <h2 class="text-center">{{event.title}}</h2>
  <p class="text-center">{{event.desc}}</p>

  <div class="event-tasks" *ngIf="event.tasks as tasks">

    <hr>
    <h4>Tareas</h4>

    <ul>
      <li 
        *ngFor="let task of tasks; trackBy:trackByFn" 
        (click)="toggleCompleted(task.id)" 
        class="manita flex flex-row flex-start align-center event-task" 
        [ngClass]="{'completed-task': completedTasks.indexOf(task.id) >= 0}">
        <input type="checkbox" [checked]="completedTasks.indexOf(task.id) >= 0" *ngIf="completedTasks">
        <span>{{task.label}}</span>
      </li>

      <hr>

      <li 
        (click)="toggleCompleted(event.id)" 
        class="manita flex flex-row flex-start align-center event-task content-task mt-2"
        [ngClass]="{'completed-task': completedTasks.indexOf(event.id) >= 0}">
        <input type="checkbox" [checked]="completedTasks.indexOf(event.id) >= 0" *ngIf="completedTasks">
        <span>Terminé de estudiar éste tema</span>
      </li>

    </ul>

    <hr>
    <h4>Links</h4>
    <ul *ngIf="event.links as links">
      <li *ngFor="let link of links">
        <a class="btn btn-secondary" [routerLink]="[ link.url ]">{{link.label}}</a>
      </li>
    </ul>
    
  </div>

</div>