<div class="epsi-feed-post-item" *ngIf="post else loader">

  <div class="post-item-header flex flex-row flex-start">
    <img [src]="post.user.photoURL" style="width: 48px">
    <div class="header-user-info flex flex-col flex-start">
      <p>
        <strong>{{post.user.displayName}} · </strong> <small>{{post.date | amCalendar}}</small>
      </p>
      <p>{{post.user.email}}</p>
    </div>
  </div>

  <div class="post-item-body">
    <p class="m-3">{{post.text}}</p>
    <img [src]="post.image" *ngIf="post.image" class="w-100">
  </div>

  <div class="post-item-info flex flex-row flex-start align-center" *ngIf="post.likes && post.likes.length > 0">
    <div class="like-icon flex-loader">
      <i class="fa fa-thumbs-up"></i>
    </div>
    <p>
      A {{post.likes.length}} persona{{post.likes.length > 1 ? 's' : ''}} le{{post.likes.length > 1 ? 's' : ''}} gusta ésta publicación
    </p>
  </div>

  <div class="post-item-actions flex flex-row flex-center">

    <button type="button" [ngClass]="{'is-liked': isLiked}" *ngIf="auth.user" (click)="toggleLike(post.id, post.likes)">
      <i class="fa fa-thumbs-up"></i>
      <span>Me Gusta</span>
    </button>

    <button type="button">
      <i class="fa fa-comments"></i>
      <span>Comentarios ({{commentCount | number}})</span>
    </button>

    <button type="button" *ngIf="auth.isAdmin" (click)="removePost(post.id)">
      <i class="fa fa-trash"></i>
      <span>Borrar</span>
    </button>

  </div>
  
  <div class="post-item-comments">
    <epsi-feed-post-comments [post]="post" (loaded)="commentCount = $event"></epsi-feed-post-comments>
  </div>

</div>

<ng-template #loader>
  <epsi-loader></epsi-loader>
</ng-template>