<epsi-panel
  title="Modo Presencial"
  img="https://zamnademy.com/site/images/clients/simuladordiario.png"
  height="300px"
  tutorial="tWP3Mu1pDg4BzpULhr3C"
  [showContent]="showContent"
  [blur]="isBlur()">

  <ul *ngIf="exams$ | async as exams else loaderSimuladores" class="m-3 list-group">
    <li *ngFor="let exam of exams" class="list-group-item">
      <i *ngIf="completed[exam.id]" class="fa fa-check mr-2" style="color:green;"></i>
      <a [routerLink]="[ '/exam', exam.type, exam.id ]">{{exam.name}}</a>
    </li>
  </ul>

  <ng-template #loaderSimuladores>
    <epsi-loader></epsi-loader>
  </ng-template>

</epsi-panel>
