<ngx-smart-modal identifier="upsaleModal">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam reiciendis nesciunt voluptas eum cumque, culpa sequi ea minus, molestias quis totam nostrum ipsam aut quod? Voluptatum iure sit deleniti rerum?</p>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<ng-container *ngIf="pdf$ | async as pdf">
  <epsi-panel [title]="pdf.name">
    <!-- <pre>{{pdf | json}}</pre> -->
    <!-- <img *ngFor="let img of urls" [src]="img" alt="" class="w-100"> -->
    <iframe [src]="urls" frameborder="0" style="width: 100%"></iframe>
  </epsi-panel>
</ng-container>
