<ngx-smart-modal identifier="upsaleModal">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <p>
          <strong>Felicidades, </strong> cada vez estás más cerca de aprobar el EXACER, asegurate de hacerlo adquiriendo las guías y el simulador.
        </p>
        <p>¿Te gustaría adquirirlos ahora mismo?</p>
      </div>

      <div class="col-md-12">
        <button class="btn btn-success" [routerLink]="['/pagar', 'upsale-Hojaderesultados']" routerLinkActive="router-link-active" >Sí, por favor</button>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<ng-container *ngIf="pdf$ | async as pdf">
  <epsi-panel [title]="pdf.name">
    <!-- <pre>{{pdf | json}}</pre> -->
    <!-- <img *ngFor="let img of urls" [src]="img" alt="" class="w-100"> -->
    <iframe [src]="urls" frameborder="0" style="width: 100%"></iframe>
  </epsi-panel>
</ng-container>
