<div class="epsi-media-panel">
  <epsi-panel 
    title="Material Extra" 
    img="assets/zamnademy/media.svg" 
    tutorial="bYCXNMaPqQ724Wivi9pN"
    [showContent]="false"
    [blur]="false">
    
    <ng-template #loader>
      <epsi-loader></epsi-loader>
    </ng-template>

    <ul *ngIf="medias$ | async as medias else loader" class="m-3 list-group">
      <li *ngFor="let media of medias" class="list-group-item">
        <a [routerLink]="[ '/media', media.id ]">{{media.name}}</a>
      </li>
    </ul>

    <div class="w-100 mt-2 mb-2 flex-loader">
      <a class="btn btn-primary" [routerLink]="[ '/media/list' ]">Ver Todas</a>
    </div>

  </epsi-panel>
</div>
