<div class="epsi-loader w-100">

  <div class="ph-item" *ngIf="!type || type == 'default'">
    <div class="ph-col-12">
      <div class="ph-picture"></div>
    </div>
    <div class="ph-col-12-">
      <div class="ph-row">
        <div class="ph-col-12"></div>
        <div class="ph-col-12"></div>
        <div class="ph-col-12"></div>
        <div class="ph-col-12"></div>
      </div>
    </div>
  </div>

  <div class="ph-item" *ngIf="type == 'checklist'">
    <div class="ph-row">
      <div class="ph-col-12"></div>
    </div>
    <div class="ph-row">
      <div class="ph-col-12"></div>
    </div>
    <div class="ph-row">
      <div class="ph-col-12"></div>
    </div>
  </div>

</div>