<div class="epsi-ad-pit-panel">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h4>¿TE GUSTA EL SISTEMA DE VIDEO CLASES DEL PROGRAMA DE INICIO TEMPRANO?</h4>
      </div>

      <div class="col-md-12">
        <h5>Siempre puedes adquirir tu curso <strong>PREMIUM</strong> para tener todas las clases actualizadas de nuestro programa en 1 click</h5>
      </div>

      <div class="col-md-12 mt-2">
        <a [routerLink]="[ '/pagar/actualizar-premium' ]" class="btn btn-secondary ml-2 text-black-50">Quiero ser Premium!</a>
      </div>

    </div>
  </div>
</div>