<div class="materia-item" (click)="openMateria()">
  <div class="row flex flex-col align-center justify-center">

    <div class="col-md-12" [ngClass]="{blur: materia.blur}">
      <img [src]="materia.cover" alt="" class="w-100">
    </div>

    <div class="lock-container flex flex-col flex-center" *ngIf="!locked">

      <button class="btn btn-primary mt-2 btn-resolver" ngif>
        Resolver
        <br>
        <small>Gratis</small>
      </button>
    </div>

    <div class="lock-container flex flex-col flex-center" *ngIf="locked">
      <img src="assets/img/lock.svg" alt="Bloqueado" *ngIf="locked" class="lock-icon">

      <button class="btn btn-success btn-comprar mt-2" *ngIf="materia.canBuy">{{ materia.buyButtonText ? materia.buyButtonText : 'Comprar' }}</button>
    </div>

  </div>
</div>
