.lock-container {
  position: absolute;
}

.lock-icon {
  width: 64px;
  height: 64px;
}

.blur {
  filter: blur(2px);
}

.btn-resolver {
  margin-top: -2.5rem !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 100%;
  padding: 0 3rem 0;
  font-size: 1.75rem;

  small {
    margin-top: -1.5rem !important;
    font-size: 1rem;
  }

}

.btn-comprar {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
