<div class="container mt-retro">

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>
  
  <div class="row" *ngIf="exams$ | async as exams else loader">

    <div class="col-md-4 col-xs-12">
      <epsi-panel *ngFor="let exam of exams" [title]="exam[0].exam.name">
        <ul class="list-group m-2">
          <li class="list-group-item" *ngFor="let ranking of exam">
            <strong>{{ranking.promedio | number}}</strong> <span class="ml-2">{{ranking.user.displayName}}</span>
          </li>
        </ul>
      </epsi-panel>
    </div>

  </div>
</div>