<ngx-smart-modal identifier="notisModal" #notisModal customClass="max-w-50">
  <epsi-notifications-modal></epsi-notifications-modal>
</ngx-smart-modal>

<ngx-smart-modal identifier="userTimeSelector">
  <div class="row">
    <div class="col-md-12">
      <h4>Cuando es tu examen?</h4>
    </div>
    <div class="col-md-12 form-group">
      <input type="date" class="form-control" [(ngModel)]="userTimerDate">
    </div>
    <div class="col-md-12">
      <button class="btn btn-success" (click)="setUserTimer(userTimerDate)">Seleccionar Fecha</button>
    </div>
  </div>
</ngx-smart-modal>

<div class="epsi-navbar flex flex-row flex-start align-center flex-wrap" [hidden]="hideNavbar">

  <img src="assets/zamnademy/logo-morado.png" alt="Zamnademy">
  <span (click)="router.navigate(['/home'])"><strong>ZAMNA</strong>demy</span>
  <div class="ml-2 navbar-timer" *ngIf="userTimer" [innerHTML]="userTimerLabel"></div>
  <div class="ml-2 navbar-timer" *ngIf="timerLabel" [innerHTML]="timerLabel"></div>
  <div class="ml-2 navbar-timer" *ngIf="!userTimer && payment.isComplete()">
    <input type="text" class="form-control" placeholder="Cuando es tu examen?" (focus)="openTimerSelector()">
  </div>

  <div class="navbar-user-info flex-center" *ngIf="auth.loggedIn">

    <div class="w-100 flex flex-row flex-start align-center mb-3">
      <span (click)="openProfile()" class="manita">{{auth.user.displayName}}</span>
      <img [src]="auth.user.photoURL" (click)="openProfile()" class="manita">
      <button (click)="router.navigate(['/admin'])" class="navbar-action flex-loader" *ngIf="auth.isAdmin">
        <i class="fa fa-unlock"></i>
      </button>

      <button *ngIf="payment.isComplete()"
        (click)="notisModal.open()" class="navbar-action">
        <i class="fa fa-bell"></i>
        <span class="badge badge-danger" *ngIf="notReadCount > 0">{{notReadCount | number}}</span>
      </button>

      <button *ngIf="payment.isComplete()"
        (click)="router.navigate(['/notes'])" class="navbar-action">
        <i class="fa fa-sticky-note"></i>
      </button>

      <button *ngIf="auth.loggedIn" (click)="auth.logout()" class="navbar-action">
        <i class="fa fa-sign-out"></i>
      </button>
    </div>

    <div class="navbar-actions flex flex-row flex-center">
      <a *ngIf="payment.isComplete()" class="btn btn-secondary mr-2 btn-zamna-hollow btn-zamna-hollow-primary w-100" [routerLink]="[ '/results' ]">Mis Resultados</a>
      <a *ngIf="payment.isComplete()" class="btn btn-secondary mr-2 btn-zamna-hollow btn-zamna-hollow-primary w-100" [routerLink]="[ '/profile' ]">Mi Estadística</a>
    </div>

  </div>

</div>
