<ngx-smart-modal identifier="contentFilterModal">

  <div class="col-md-12" *ngIf="loading">
    <ngx-loading-bar [color]="'black'" [fixed]="false"></ngx-loading-bar>
    <p>{{loadingText}}</p>
  </div>

  <div class="container-fluid" *ngIf="content">
    <div class="row">

      <div class="col-md-12" *ngFor="let c of content">
        <input type="number" *ngIf="c.type == 'bloque'" style="width: 64px" class="mr-2" [(ngModel)]="c.order" placeholder="Órden">
        <input type="checkbox" [id]="c.id" [(ngModel)]="c.selected" (change)="radioChange(c)">
        <label [for]="c.id" class="ml-2">
          <span class="ml-2" *ngIf="c.type != 'bloque'">{{c.name}}</span>
          <strong class="mt-2" *ngIf="c.type == 'bloque'">{{c.name}}</strong>
        </label>
      </div>

      <div class="col-md-12 flex-loader">
        <button class="btn btn-primary mt-2" (click)="contentFilterCallback(content, dias, range)">Generar Calendario</button>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal identifier="dateSelector">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12" *ngIf="mode">
        <div class="row">
          
          <div class="col-md-12 form-group">
            <div class="row">

              <div class="col-md-12">
                <p class="w-100 text-center">Dinos cuál es el último día que quieres programar estudiar un tema.</p>
                <p class="w-100 text-center">Recuerda que debes descansar antes del ENARM</p>
              </div>

              <div class="col-md-12 flex-loader">
                <ngb-datepicker (select)="finishDate = $event" #d></ngb-datepicker>
              </div>

              <div class="col-md-12 flex-loader">
                <button class="btn btn-primary" *ngIf="finishDate" (click)="generateCalendar(finishDate)">Generar Calendario</button>
              </div>

            </div>
          </div>

          <div class="col-md-12" *ngIf="loading">
            <ngx-loading-bar [color]="'black'" [fixed]="false"></ngx-loading-bar>
            <p>{{loadingText}}</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal identifier="ignoreModal"></ngx-smart-modal>

<epsi-panel>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12" *ngIf="step == 'mode_selector' && !mode">
        <div class="row">
          <div class="col-md-12" >
            <button class="btn btn-primary" (click)="setMode('only_date')">SMART CALENDAR</button>
            <epsi-tutorial-button tutorial="ziy7dfUsToM9abmdddtw"></epsi-tutorial-button>
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="setMode('date_order')">CUSTOM CALENDAR</button>
            <epsi-tutorial-button tutorial="fu023qUMVy0zocQcxbE2"></epsi-tutorial-button>
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="setMode('ignore')">NO CALENDAR</button>
            <epsi-tutorial-button tutorial="fgXe81GogsnaUUu87lP8"></epsi-tutorial-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</epsi-panel>
