<ngx-smart-modal identifier="contentFilterModal">

  <div class="col-md-12" *ngIf="loading">
    <ngx-loading-bar [color]="'black'" [fixed]="false"></ngx-loading-bar>
    <p>{{loadingText}}</p>
  </div>

  <div class="container-fluid" *ngIf="content">
    <div class="row">

      <div class="col-md-12 flex flex-col flex-start" *ngFor="let c of content; let i = index">

        <div class="flex flex-row flex-start align-center w-100">
          <div class="flex-loader mr-2" *ngIf="c.type == 'bloque'">
            <i class="fa fa-chevron-up c-epsi-primary" (click)="orderBloque(content, c, i, -1)"></i>
            <i class="fa fa-chevron-down c-epsi-primary" (click)="orderBloque(content, c, i, 1)"></i>
          </div>
          <input type="checkbox" [id]="c.id" [(ngModel)]="c.selected" (change)="radioChange(c)">
          <label [for]="c.id" class="ml-2">
            <strong class="mt-2" *ngIf="c.type == 'bloque'">{{c.name}}</strong>
          </label>
          <i class="fa fa-plus manita ml-2" *ngIf="!c.showChildren" (click)="c.showChildren = true"></i>
          <i class="fa fa-minus manita ml-2" *ngIf="c.showChildren" (click)="c.showChildren = false"></i>
        </div>

        <div class="ml-4 pl-2 w-100" *ngIf="c.showChildren">
          <div class="flex flex-row flex-start align-center " *ngFor="let tema of c.temas">
            <input type="checkbox" [id]="tema.id" [(ngModel)]="tema.selected">
            <label [for]="tema.id" class="ml-2">
              <span class="ml-2">{{tema.name}}</span>
            </label>
          </div>
        </div>

      </div>

      <div class="col-md-12 flex-loader">
        <button class="btn btn-primary mt-2" (click)="contentFilterCallback(content, dias, range)">Generar Calendario</button>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal identifier="dateSelector">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12" *ngIf="mode">
        <div class="row">
          
          <div class="col-md-12 form-group">
            <div class="row">

              <div class="col-md-12">
                <p class="w-100 text-center">Dinos cuál es el último día que quieres programar estudiar un tema.</p>
                <p class="w-100 text-center">Recuerda que debes descansar antes del ENARM</p>
              </div>

              <div class="col-md-12 flex-loader">
                <ngb-datepicker (select)="finishDate = $event" #d></ngb-datepicker>
              </div>

              <div class="col-md-12 flex-loader">
                <button class="btn btn-primary" *ngIf="finishDate" (click)="generateCalendar(finishDate)">Generar Calendario</button>
              </div>

            </div>
          </div>

          <div class="col-md-12" *ngIf="loading">
            <ngx-loading-bar [color]="'black'" [fixed]="false"></ngx-loading-bar>
            <p>{{loadingText}}</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal identifier="ignoreModal"></ngx-smart-modal>

<epsi-panel>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12" *ngIf="step == 'mode_selector' && !mode">
        <div class="row">
          <div class="col-md-12" >
            <button class="btn btn-primary" (click)="setMode('only_date')">SMART CALENDAR</button>
            <epsi-tutorial-button tutorial="ziy7dfUsToM9abmdddtw"></epsi-tutorial-button>
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="setMode('date_order')">CUSTOM CALENDAR</button>
            <epsi-tutorial-button tutorial="fu023qUMVy0zocQcxbE2"></epsi-tutorial-button>
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="setMode('ignore')">NO CALENDAR</button>
            <epsi-tutorial-button tutorial="fgXe81GogsnaUUu87lP8"></epsi-tutorial-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</epsi-panel>
