<div class="container">

  <div class="row" *ngIf="notis$ | async as notis else loader">

    <div class="col-md-12 manita" *ngFor="let noti of notis" (click)="readNoti(noti)">
      <div class="w-100 flex flex-row flex-start align-stretch noti-container">
        <div class="noti-icon flex-loader">
          <i class="fa fa-bell"></i>
        </div>
        <div class="noti-body flex-loader" [ngClass]="{'bg-eee': readNotis.indexOf(noti.id) >= 0}">
          <h4>{{noti.title}}</h4>
          <p>{{noti.text}}</p>
          <!-- <small>{{noti.date | amCalendar}}</small> -->
          <a [routerLink]="noti.link_href" *ngIf="noti.link_href">{{noti.link_name}}</a>
        </div>
      </div>

      <div class="form-group flex flex-row flex-start w-100 align-center">
        <input type="text" class="form-control w-100" placeholder="Responder a la notificación" [(ngModel)]="noti.response">
        <button class="btn btn-secondary" (click)="sendResponse(noti.response, noti.id)">Enviar</button>
      </div>

    </div>

  </div>

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

</div>
