@import '../../../variables.scss';

.noti-container {
  margin-bottom: 1rem;
  border: 1px solid #eee;
}

.noti-icon {
  background-color: $epsi-text-color-primary;
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

.noti-body {
  flex: 1;

  h4, p {
    margin: 0;
  }

  small {
    color: rgba($color: #000000, $alpha: 0.54);
  }

}