<div class="epsi-payment-model-panel">

  <epsi-panel *ngIf="model else loader" [title]="model.name">
    <div class="container-fluid p-4 pt-0">
      <div class="row">

        <div class="col-xs-12 col-md-12 p-2" [innerHTML]="modelBody"></div>

        <div class="col-md-12" *ngIf="model.discountPrice">
          <h3 class="text-danger">
            <del>$ {{model.discountPrice | number}}</del>
          </h3>
        </div>

        <div class="col-md-12">
          <h2 class="text-bolder">$ {{model.amount | number}}</h2>
        </div>

        <div class="col-md-12 form-group" *ngIf="model.canDiscount">
          <label for="">Cupón</label>
          <input class="form-control" type="text" placeholder="Código de Descuento" [(ngModel)]="coupon" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="col-md-12 form-group" *ngIf="model.packs">
          <label for="">Plan Familiar</label>
          <select [(ngModel)]="pack" class="form-control">
            <option [ngValue]="null">-</option>
            <option *ngFor="let pack of model.packs" [ngValue]="pack">{{pack.label}} ${{pack.price | number}}</option>
          </select>
        </div>

        <div class="col-md-12">
          <img src="assets/tarjetas.png" alt="" class="w-100">
        </div>

        <div class="col-md-12">
          <button class="btn btn-primary w-100" type="button" (click)="generatePayment(model)" [disabled]="loading || disabled">{{disabled ? 'No Disponible' : 'Pagar'}}</button>
        </div>

        <div class="col-md-12 p-2" *ngIf="loading">
          <p class="text-center w-100">Generando pago</p>
          <epsi-loader type="svg"></epsi-loader>
        </div>

        <div class="col-md-12" [id]="'paypal-container-' + model.id" [ngClass]="{'p-4': showPaypal}">
          <button class="btn btn-secondary mt-2 w-100" type="button" (click)="loadPaypalButton(model)" *ngIf="!showPaypal" [disabled]="loading || disabled">Pagar con Paypal</button>
        </div>
  
      </div>
    </div>
  </epsi-panel>

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

</div>
