<ngx-smart-modal identifier="questionAddModal" #questionAddModal>
  <epsi-question-add (questionAdded)="onQuestionAdded($event)"></epsi-question-add>
</ngx-smart-modal>

<form [formGroup]="editForm" (ngSubmit)="submitForm()">

  <h2 class="text-boler c-epsi-primary">Editar Exámen</h2>

  <div class="form-group">
    <label for="">Nombre</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group" *ngIf="editForm.value.type == 'demo'">
    <label for="">URL de Prueba</label>
    <input type="text" class="form-control" [value]="host + '/exam/demo/' + editForm.value.id">
  </div>

  <div class="form-group">
    <label for="">Descripción</label>
    <textarea class="form-control" formControlName="desc"></textarea>
  </div>

  <div class="form-group">
    <label for="">Tipo de Exámen</label>
    <select class="form-control" formControlName="type">
      <option [value]="type" *ngFor="let type of examTypes">{{type}}</option>
    </select>
  </div>

  <hr>

  <div class="flex flex-row flex-start align-center mb-2">
    <h4 class="c-epsi-primary">Preguntas</h4>
    <button class="btn btn-secondary ml-auto" type="button" (click)="questionAddModal.open()">Nueva Pregunta</button>
  </div>
  <epsi-search placeholder="Buscar preguntas" (onSelect)="questionSelected($event)"></epsi-search>

  <ul *ngIf="editForm.value.questions as questions" class="list-group">
    <li *ngFor="let q of questions" class="list-group-item flex flex-row flex-start align-center">

      <button class="btn btn-danger mr-2" (click)="removePregunta(q)" type="button">
        <i class="fa fa-remove"></i>
      </button>
      
      <div class="form-group">
        <label for="">{{q.text}}</label>
        <input type="text" class="form-control" [(ngModel)]="q.group" [ngModelOptions]="{standalone: true}" placeholder="Agrupador">
      </div>

    </li>
  </ul>

  <button class="btn btn-success w-100 mt-3" type="submit" [disabled]="!editForm.valid">Editar Exámen</button>

  <pre class="mt-4">{{editForm.value | json}}</pre>

</form>