<form [formGroup]="editForm" (ngSubmit)="submitForm()">

  <h1>Editar Exámen</h1>

  <div class="epsi-input">
    <label for="">Nombre</label>
    <input type="text" formControlName="name">
  </div>

  <div class="epsi-input">
    <label for="">Descripción</label>
    <textarea formControlName="desc"></textarea>
  </div>

  <div class="epsi-input">
    <label for="">Tipo de Exámen</label>
    <select formControlName="type">
      <option [value]="type" *ngFor="let type of examTypes">{{type}}</option>
    </select>
  </div>

  <hr>

  <epsi-search placeholder="Buscar preguntas" (onSelect)="questionSelected($event)"></epsi-search>
  <h4>Preguntas</h4>
  <ul *ngIf="editForm.value.questions as questions">
    <li *ngFor="let q of questions">
      <span>{{q.text}}</span>
      <button (click)="removePregunta(q)" type="button">Quitar Pregunta</button>
    </li>
  </ul>

  <button type="submit" [disabled]="!editForm.valid">Editar Exámen</button>

  <pre>{{editForm.value | json}}</pre>

</form>