<ngx-smart-modal identifier="questionAddModal" #questionAddModal>
  <epsi-question-add (questionAdded)="onQuestionAdded($event)"></epsi-question-add>
</ngx-smart-modal>

<ngx-smart-modal identifier="questionEditModal">
  <epsi-question-edit [question]="tempQuestion" (postEdit)="postEditQuestion($event)"></epsi-question-edit>
</ngx-smart-modal>

<form [formGroup]="editForm" (ngSubmit)="submitForm()">

  <h2 class="text-boler c-epsi-primary">Editar Exámen</h2>

  <div class="form-group">
    <label for="">Nombre</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group" *ngIf="editForm.value.type == 'demo'">
    <label for="">URL de Prueba</label>
    <input type="text" class="form-control" [value]="host + '/exam/demo/' + editForm.value.id">
  </div>

  <div class="form-group">
    <label for="">Descripción</label>
    <textarea class="form-control" formControlName="desc"></textarea>
  </div>

  <div class="form-group">
    <input type="checkbox" formControlName="showAd" id="exam-edit-showAd">
    <label for="exam-edit-showAd">¿Mostrar Recomendación?</label>
  </div>

  <div class="form-group">
    <label for="">Fecha de liberación</label>
    <input type="datetime-local" class="form-control" formControlName="date">
  </div>

  <div class="form-group flex flex-col flex-start">
    <label for="">¿Liberado? {{editForm.value.liberado === true ? 'Sí' : 'No'}}</label>
    <button type="button" *ngIf="!editForm.value.liberado" class="btn btn-success" (click)="editForm.patchValue({liberado: true})">Liberar</button>
    <button type="button" *ngIf="editForm.value.liberado" class="btn btn-danger" (click)="editForm.patchValue({liberado: false})">Bloquear</button>
  </div>

  <div class="form-group">
    <label for="">Tiempo Límite</label>
    <input type="number" class="form-control" formControlName="duration" placeholder="Duración del exámen en minutos">
  </div>

  <div class="form-group">
    <label for="">Recomendación - Descripción</label>
    <input type="text" class="form-control" formControlName="adDesc">
  </div>

  <div class="form-group">
    <label for="">Recomendación - Link</label>
    <input type="text" class="form-control" formControlName="adHref">
  </div>

  <div class="form-group">
    <label for="">Recomendación - Texto del Botón</label>
    <input type="text" class="form-control" formControlName="adButton">
  </div>

  <div class="form-group">
    <label for="">Tipo de Exámen</label>
    <select class="form-control" formControlName="type">
      <option [value]="type" *ngFor="let type of examTypes">{{type}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="editForm.value.type == 'contenido'">
    <label for="">Tipo de Contenido</label>
    <select class="form-control" formControlName="content_type">
      <option [value]="type" *ngFor="let type of contentTypes">{{type}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="(editForm.value.type == 'contenido' || editForm.value.type == 'preclase') && content$ | async as content">
    <label for="">Contenido</label>
    <ngx-select-dropdown formControlName="content" [options]="content" [config]="{displayKey: 'name', search: true, placeholder: 'Seleccionar contenido', searchPlaceholder: 'Buscar:'}"></ngx-select-dropdown>
  </div>

  <hr>

  <div class="flex flex-row flex-start align-center mb-2">
    <h4 class="c-epsi-primary">Preguntas</h4>
    <button class="btn btn-secondary ml-auto" type="button" (click)="questionAddModal.open()">Nueva Pregunta</button>
  </div>
  <epsi-search placeholder="Buscar preguntas" (onSelect)="questionSelected($event)"></epsi-search>

  <ul *ngIf="editForm.value.questions as questions" class="list-group">
    <li *ngFor="let q of questions" class="list-group-item flex flex-col flex-start">

      <div class="question-actions w-100 flex flex-row flex-start align-center mb-2">

        <button class="btn btn-danger" (click)="removePregunta(q)" type="button">
          <i class="fa fa-remove"></i>
        </button>

        <button class="btn btn-secondary ml-2" type="button" (click)="openEditQuestion(q)">
          <i class="fa fa-edit"></i>
          <span class="ml-2">Editar</span>
        </button>

      </div>
      
      <div class="form-group w-100">
        <label for="">{{q.text}}</label>
        <input type="text" class="form-control" [(ngModel)]="q.group" [ngModelOptions]="{standalone: true}" placeholder="Agrupador">
      </div>

    </li>
  </ul>

  <button class="btn btn-success w-100 mt-3" type="submit" [disabled]="!editForm.valid">Editar Exámen</button>

  <pre class="mt-4">{{editForm.value | json}}</pre>

</form>