<epsi-panel title="Profile Info" [showContent]="true">
  
  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <div class="profile-info-header flex-loader" *ngIf="auth.loggedIn">
    <img [src]="auth.user.photoURL">
    <span>{{auth.user.displayName}}</span>
  </div>

  <div class="profile-info-edit" *ngIf="user else loader">

    <div class="epsi-input">
      <label>Nombre Completo</label>
      <input type="text" [(ngModel)]="user.displayName">
    </div>

    <div class="epsi-input">
      <label>Email</label>
      <input type="email" [(ngModel)]="user.new_email">
    </div>

    <div class="epsi-input">
      <label>Universidad</label>
      <input type="text" [(ngModel)]="user.universidad">
    </div>

    <div class="epsi-input">
      <label>Celular</label>
      <input type="text" [(ngModel)]="user.celular">
    </div>

    <div class="epsi-input">
      <label>Especialidad</label>
      <input type="text" [(ngModel)]="user.especialidad">
    </div>

    <div class="epsi-input">
      <label>Cuéntanos sobre ti</label>
      <textarea [(ngModel)]="user.about"></textarea>
    </div>

    <div class="epsi-input">
      <label>Lugar de Origen</label>
      <input type="text" [(ngModel)]="user.lugar_origen">
    </div>

    <button (click)="saveChanges(user)" [disabled]="loading">Guardar cambios</button>

    <!-- TODO: Agregar panel para cambiar foto de perfil -->
    <!-- TODO: Agregar panel para cambiar datos custom -->

  </div>

</epsi-panel>