<epsi-panel [showContent]="true">
  
  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <div class="profile-info-header flex-loader" *ngIf="auth.loggedIn">
    <img [src]="auth.user.photoURL">
    <span class="c-epsi-primary">{{auth.user.displayName}}</span>
  </div>

  <div class="profile-info-edit p-2" *ngIf="user else loader">

    <div class="form-group">
      <label>Nombre Completo</label>
      <input type="text" class="form-control" [(ngModel)]="user.displayName">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="user.new_email">
    </div>

    <div class="form-group">
      <label>Universidad</label>
      <input type="text" class="form-control" [(ngModel)]="user.universidad">
    </div>

    <div class="form-group">
      <label>Celular</label>
      <input type="text" class="form-control" [(ngModel)]="user.celular">
    </div>

    <div class="form-group">
      <label>Especialidad</label>
      <input type="text" class="form-control" [(ngModel)]="user.especialidad">
    </div>

    <div class="form-group">
      <label>Cuéntanos sobre ti</label>
      <textarea class="form-control" [(ngModel)]="user.about"></textarea>
    </div>

    <div class="form-group">
      <label>Lugar de Origen</label>
      <input type="text" class="form-control" [(ngModel)]="user.lugar_origen">
    </div>

    <div class="w-100 flex-loader form-group">
      <label for="">Cambiar foto de perfil</label>
      <app-storage-uploader (onFinish)="changePhoto($event, user.uid, user.displayName)"></app-storage-uploader>
    </div>

    <div class="flex-loader">
      <button class="btn btn-secondary" (click)="saveChanges(user)" [disabled]="loading">Guardar cambios</button>
    </div>

    <!-- TODO: Agregar panel para cambiar foto de perfil -->
    <!-- TODO: Agregar panel para cambiar datos custom -->

  </div>

</epsi-panel>