<ngx-smart-modal identifier="userRolesModal">
  <epsi-user-roles [user]="tempUser"></epsi-user-roles>
</ngx-smart-modal>

<ngx-smart-modal identifier="userMoodModal">
  <epsi-user-mood-overview [rates]="tempRates" *ngIf="tempRates"></epsi-user-mood-overview>
</ngx-smart-modal>

<ngx-smart-modal identifier="userNotiAdd">
  <epsi-user-noti-add *ngIf="tempUser" [uid]="tempUser.uid"></epsi-user-noti-add>
</ngx-smart-modal>

<div class="epsi-admin-users-page container mt-retro">

  <epsi-panel title="Acciones de Administración">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <button class="btn btn-primary" type="button" (click)="exportUsers(null)">Exportar Usuarios</button>
          <button class="btn btn-primary" type="button" (click)="exportUsers('mates')">Exportar Solo Mates</button>
          <button class="btn btn-primary" type="button" (click)="exportUsers('nomates')">Exportar Comprado menos Mates</button>
          <button class="btn btn-primary" type="button" (click)="exportUsers('nada')">Exportar SIN COMPRAS</button>
          <button class="ml-2 btn btn-primary" type="button" (click)="exportPresenciales()">Exportar Presenciales</button>
        </div>

      </div>
    </div>
  </epsi-panel>

  <epsi-panel title="Administrar Usuarios">
    <!-- <adonalsium-crud-table [config]="config"></adonalsium-crud-table> -->
  </epsi-panel>

</div>
