<ngx-smart-modal identifier="contentErrorModal" #contentErrorModal>
  <epsi-content-error-add [content]="content" *ngIf="content"></epsi-content-error-add>
</ngx-smart-modal>

<ngx-smart-modal identifier="contentExamModal" #contentExamModal>
  <epsi-loader></epsi-loader>
</ngx-smart-modal>

<ngx-smart-modal identifier="preclaseExamModal">
  <epsi-exam-detail-page [isPreclase]="true" [examId]="examId" *ngIf="examId"></epsi-exam-detail-page>
</ngx-smart-modal>

<epsi-panel [title]="content.name" *ngIf="content">

  <div class="video-panel-player" *ngIf="content.video">

    <img src="assets/zamnademy/logo-azul.png" class="video-logo-zamna">

    <vg-player (onPlayerReady)="onPlayerReady($event)">

      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar [vgSlider]="true">
          <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media" #media preload="auto">
        <source [src]="content.video">
      </video>

    </vg-player>
  </div>

  <div class="video-panel-comments">
    <epsi-content-video-suggestion-add [content]="content"></epsi-content-video-suggestion-add>
  </div>

  <div class="video-panel-errors m-1">
    <small class="ml-2" (click)="contentErrorModal.open()">¿Encontraste algún error en la clase?</small>
    <a class="btn btn-secondary ml-2 mb-1" [routerLink]="[ '/exam/content', content.id ]">Evaluación</a>
    <button *ngIf="content.forum" class="btn btn-secondary ml-2 mb-1" type="button" (click)="router.navigate(['/thread/category', content.forum])">Pregunta a tu asesor si te quedaron dudas sobre el tema. Aquí</button>
  </div>

</epsi-panel>