.video-panel-errors {

  span:hover {
    color: #5e4b8b;
    cursor: pointer;
  }

}

.video-logo-zamna {
  position: absolute;
  z-index: 4;
  right: 0;
  width: 10%;
  margin-right: 2rem;
  margin-top: 1rem;
}