<ngx-smart-modal identifier="examFeedbackModal" customClass="max-w-75" [closable]="false">
  <epsi-exam-feedback-modal *ngIf="lastQuestion" [lastQuestion]="lastQuestion" [lastSelected]="lastSelected"></epsi-exam-feedback-modal>
</ngx-smart-modal>

<ngx-smart-modal identifier="examRankingAdd">
  <epsi-exam-ranking-add [exam]="exam" *ngIf="exam"></epsi-exam-ranking-add>
</ngx-smart-modal>

<div *ngIf="exam else loader" style="padding: 2rem">

  <h1 class="w-100 zamna-c-primary text-bolder mb-4">{{exam.name}}</h1>

  <div class="exam-questions" *ngIf="exam.formattedQuestions && (examState$ | async) as state" #scrollAnchor>

    <!--<pre>{{state | json}}</pre>-->
    <div class="w-100 flex flex-row flex-start">
      <span class="m-0 c-epsi-primary exam-questions-indicator">Pregunta {{state.index + 1}} de
        {{exam.formattedQuestions.length}}</span>
      <p class="m-0 mb-2 exam-duration-label zamna-c-primary" *ngIf="duration_label">- {{duration_label}}</p>
    </div>

    <div class="bar-container w-100 my-3" *ngIf="state.progress">
      <div class="bar zamna-bg-primary" [style.width]="state.progress + '%'"></div>
    </div>

    <div class="question-group mt-4" *ngIf="question as group">

      <div class="question-body" *ngFor="let question of group">
        <img [src]="question.img" *ngIf="question.img" class="w-100">
        <h4 class="question-text">{{question.text}}</h4>

        <ul *ngIf="question.respuestas as respuestas else loaderQuestions" class="answer-list">
          <li class="flex flex-row flex-start align-center" *ngFor="let respuesta of respuestas" [ngClass]="{'answer-selected': question.selectedAnswerId && respuesta.id == question.selectedAnswerId}">
            <input
              type="radio"
              [name]="question.id"
              [checked]="question.selectedAnswerId && respuesta.id == question.selectedAnswerId"
              [(ngModel)]="question.selectedAnswerId"
              [value]="respuesta.id"
              [id]="respuesta.id"
              (change)="answerChanged(respuesta, question)">
            <epsi-zamna-radio [checked]="question.selectedAnswerId && respuesta.id == question.selectedAnswerId"></epsi-zamna-radio>
            <label class="ml-2" [for]="respuesta.id">{{respuesta.text}}</label>
          </li>
          <!--<pre>{{question.selectedAnswer | json}}</pre>-->
        </ul>
      </div>

      <div class="question-actions flex flex-row flex-start">
        <!--<pre>{{group | json}}</pre>-->
        <button class="btn btn-secondary mr-2 btn-zamna-hollow btn-zamna-hollow-primary exam-button-action" type="button" *ngIf="canGoBack" (click)="prevQuestion(state.index, state.selectedAnswer)">Anterior</button>
        <button class="btn btn-secondary btn-zamna-hollow btn-zamna-hollow-primary exam-button-action" [disabled]="canGoNext(group)" type="button" *ngIf="questionsLeft && !isLastQuestion" (click)="nextQuestion(state.index, state.selectedAnswer)">Siguiente</button>
        <button class="btn btn-primary ml-2 btn-zamna-hollow btn-zamna-hollow-primary exam-button-action" type="button" *ngIf="isLastQuestion" (click)="finishExam()">Finalizar</button>
      </div>

      <ng-template #loaderQuestions>
        <epsi-loader></epsi-loader>
      </ng-template>

       <!--<pre class="mt-2 mb-2">{{state | json}}</pre>-->

    </div>

  </div>

</div>

<ng-template #loader>
  <epsi-loader></epsi-loader>
</ng-template>
