@import '../../../variables.scss';

ul {
  padding: 0;
  padding-left: 1.5rem;
}

.epsi-stat-structure-item {

  button {
    border: none;
    background: none;
    color: rgba($color: #000000, $alpha: 0.6);
    cursor: pointer;
  }

  button:active, button:focus {
    outline: none;
  }

  button:hover {
    color: $epsi-text-color-primary;
  }

  li {
    list-style-type: none;
  }

}
