.results-list {

  li {

    list-style-type: none;
    color: white !important;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;

    a {
      color: white !important;
    }

  }

}
