<div class="epsi-galleries-panel-item" *ngIf="category && (galleries$ | async) as galleries else loader">

  <img [src]="galleries[0].fotos[0]" *ngIf="galleries[0] && galleries[0].fotos && galleries[0].fotos" class="w-100">

  <ul *ngFor="let gallery of galleries" class="list-group m-3">
    <li class="list-group-item">
      <a [routerLink]="[ '/gallery', gallery.id ]"><strong>{{gallery.name}}</strong></a>
    </li>
  </ul>

</div>

<ng-template #loader>
  <epsi-loader></epsi-loader>
</ng-template>
