<form [formGroup]="editForm" (ngSubmit)="submitForm()">

  <h1>Editar Pregunta</h1>

  <div class="form-group">
    <label for="">Texto</label>
    <textarea class="form-control" formControlName="text" rows="5"></textarea>
  </div>

  <div class="form-group">
    <label for="">Feedback</label>
    <textarea class="form-control" formControlName="feedback" rows="5"></textarea>
  </div>

  <div class="form-group">
    <label for="">Imágen</label>
    <app-storage-uploader (onFinish)="editForm.patchValue({img: $event})"></app-storage-uploader>
    <img *ngIf="editForm.value.img as img" [src]="img" alt="Imágen de la pregunta">
  </div>

  <hr>

  <div class="respuestas-header flex flex-row flex-start align-center mb-2">
    <h4>Respuestas</h4>
    <button class="ml-auto btn btn-primary" type="button" (click)="addAnswer()">Nueva respuesta</button>
  </div>

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <ul *ngIf="editForm.value.respuestas as respuestas">
    <epsi-answer-edit-item [answer]="r" [correcta]="editForm.value.correcta" (removed)="answerRemoved($event)" (edited)="answerEdited($event)" (selected)="answerSelected($event)" *ngFor="let r of respuestas"></epsi-answer-edit-item>
  </ul>

  <hr>

  <div class="question-tags mb-2" *ngIf="tags && editForm.value.tags as currTags">
    <h4>Tags</h4>
    <div class="flex flex-row flex-start align-center">
      <input type="text" [ngbTypeahead]="searchTag" [(ngModel)]="tempTags" [ngModelOptions]="{standalone: true}" (selectItem)="tagInputChanged($event.item, currTags)" class="form-control">
      <button type="button" (click)="addNewTag(tempTags)" class="btn btn-success ml-2">Agregar Nuevo Tag</button>
    </div>
  </div>

  <ul *ngIf="editForm.value.tags as currTags">
    <li *ngFor="let tag of currTags">
      <span>{{tag}}</span>
      <button type="button" (click)="removeTag(tag, currTags)" class="btn btn-danger ml-2">Quitar</button>
    </li>
  </ul>
  
  <button type="submit" [disabled]="!editForm.valid" class="btn btn-success">Editar Pregunta</button>

  <!-- <pre>{{editForm.value | json}}</pre> -->

</form>
