<div class="epsi-exam-detail-page container">
  <div class="row" *ngIf="exam$ | async as exam else loader">

    <!-- Main Exam Panel -->
    <div class="col-xs-12 col-md-8">
      <epsi-exam-questions-widget
        [exam]="exam"></epsi-exam-questions-widget>
    </div>

    <!-- Sidepanel Exam -->
    <div class="col-xs-12 col-md-4">
      <epsi-exam-progress-widget
        [questions]="exam.questions"></epsi-exam-progress-widget>
      <epsi-exam-results-widget [id]="exam.id"></epsi-exam-results-widget>
    </div>

    <div class="col-xs-12">
      <pre>{{ examState$ | async | json }}</pre>
    </div>
    
  </div>
</div>

<ng-template #loader>
  <epsi-loader></epsi-loader>
</ng-template>