<ngx-smart-modal identifier="examTimerModal" #examTimerModal>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3>¿Quieres iniciar el exámen con tiempo?</h3>
      </div>

      <div class="col-md-12">
        <button class="btn btn-success" type="button" (click)="startTimer()">Sí</button>
        <button class="btn btn-secondary ml-2" type="button" (click)="examTimerModal.close()">No</button>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<div class="epsi-exam-detail-page container-fluid">
  <div class="row" *ngIf="exam$ | async as exam else loader">

    <!-- Main Exam Panel -->
    <div class="col-xs-12" [ngClass]="{'col-md-8': !isPreclase, 'col-md-12': isPreclase}">
      <!-- <epsi-exam-questions-widget
        [exam]="exam"></epsi-exam-questions-widget> -->
      <epsi-exam-questions-by-group-widget [isPreclase]="isPreclase" [exam]="exam"></epsi-exam-questions-by-group-widget>
    </div>

    <!-- Sidepanel Exam -->
    <div class="col-xs-12 col-md-4" *ngIf="!isPreclase">
      <!-- <epsi-exam-progress-widget
        [questions]="exam.questions"></epsi-exam-progress-widget> -->
      <epsi-exam-progress-widget [questions]="exam.formattedQuestions"></epsi-exam-progress-widget>
      <epsi-exam-results-widget *ngIf="exam.type != 'demo'" [id]="exam.id"></epsi-exam-results-widget>
    </div>

    <!-- <div class="col-xs-12">
      <pre>{{ examState$ | async | json }}</pre>
    </div> -->

  </div>
</div>

<ng-template #loader>
  <epsi-loader></epsi-loader>
</ng-template>
