<div class="epsi-post-comment">

  <!-- <div class="comment-body flex flex-row flex-start" *ngIf="auth.user">
    <img [src]="auth.user.photoURL" style="width: 32px">
    <p>{{comment.text}}</p>
  </div> -->

  <div class="comment-body flex flex-row flex-start">
    <img [src]="comment.user && comment.user.photoURL ? comment.user.photoURL : 'https://via.placeholder.com/128'" style="width: 32px">
    <p>{{comment.text}}</p>
    <!-- <pre>{{ comment | json }}</pre> -->
  </div>

  <div class="comment-actions flex flex-row flex-start align-center" *ngIf="auth.user as user">
    <div *ngIf="comment.likes && comment.likes.length > 0" class="like-badge flex flex-row flex-center">
      <div class="like-indicator flex-loader">
        <i class="fa fa-thumbs-up"></i>
      </div>
      <small>{{comment.likes.length}}</small>
    </div>
    <button type="button" [ngClass]="{'is-liked': isLiked}" (click)="toggleLike(comment.likes, user.uid)">Me Gusta</button>
    <button type="button" *ngIf="auth.isAdmin" (click)="removeComment(comment.id)">Borrar</button>
    <small> · {{comment.date | amCalendar}}</small>
  </div>

</div>