// Variable
$zamna-primary: #654F94;
$zamna-accent: #323B41;

// Color Helpers
.zamna-c-primary { color: $zamna-primary !important; }
.zamna-c-accent { color: $zamna-accent; }

.zamna-bg-primary { background-color: $zamna-primary; }
.zamna-bg-accent { background-color: $zamna-accent; }

// Buttons
.btn-zamna-primary {
  color: white !important;
  background-color: $zamna-primary !important;
  border: none !important;
  border-color: $zamna-primary;
}

.btn-zamna-hollow {
  background: none !important;
  border: none !important;
  border: 1px solid !important;
}

.btn-zamna-hollow-primary {
  border-color: $zamna-primary !important;
  color: $zamna-primary !important;
}

.btn-zamna-hollow-primary:disabled {
  border-color: rgba($color: #000000, $alpha: 0.325) !important;
  color: rgba($color: #000000, $alpha: 0.325) !important;
}
