<div class="epsi-profile-page container mt-retro">
  <div class="row">

    <div class="col-xs-12 col-md-4">
      <epsi-profile-info-panel></epsi-profile-info-panel>
      <epsi-user-roles-panel></epsi-user-roles-panel>
    </div>

    <div class="col-xs-12 col-md-4">
      <epsi-stat-user-general-average></epsi-stat-user-general-average>
      <epsi-stat-user-month-average></epsi-stat-user-month-average>
      <epsi-stat-user-timeline></epsi-stat-user-timeline>
      <epsi-stat-user-tags-average></epsi-stat-user-tags-average>
    </div>

    <div class="col-xs-12 col-md-4">
      <epsi-stat-user-performance></epsi-stat-user-performance>
      <epsi-stat-user-structure-panel></epsi-stat-user-structure-panel>
    </div>

  </div>
</div>