<div class="epsi-profile-page container mt-retro">
  <div class="row">

    <div class="col-xs-12 col-md-4">
      <epsi-profile-info-panel></epsi-profile-info-panel>
      <!-- <epsi-user-roles-panel></epsi-user-roles-panel> -->
    </div>

    <div class="col-xs-12 col-md-4">
      <epsi-stat-user-general-average></epsi-stat-user-general-average>
      <epsi-stat-user-month-average></epsi-stat-user-month-average>
      <epsi-stat-user-timeline></epsi-stat-user-timeline>
      <epsi-stat-user-tags-average></epsi-stat-user-tags-average>
    </div>

    <div class="col-xs-12 col-md-4">
      <epsi-stat-user-performance></epsi-stat-user-performance>
      <epsi-stat-user-structure-panel></epsi-stat-user-structure-panel>
      <epsi-user-coupons-panel></epsi-user-coupons-panel>
    </div>

    <div class="col-xs-12" *ngIf="!isProd">
      <ul *ngIf="auth.user as user">
        <li>
          <strong>isComprado: {{ pay.isComprado() }}</strong>
        </li>
        <li>
          <strong>isComplete: {{ pay.isComplete() }}</strong>
        </li>
        <li *ngFor="let role of roles">
          {{ role[0] }}: {{ user[role[1]] }}
          <button class="btn btn-success" *ngIf="!user[role[1]]" (click)="setRole(user.uid, role[1], true)">Grant</button>
          <button class="btn btn-danger" *ngIf="user[role[1]]" (click)="setRole(user.uid, role[1], false)">Revoke</button>
        </li>
      </ul>
    </div>

  </div>
</div>
