<div class="epsi-slides-list-page">

  <epsi-panel title="Presentaciones" [showContent]="true">
    <ul *ngIf="slides$ | async as slides else loader">
      <li *ngFor="let slide of slides">
        <div class="slide-header flex flex-row flex-start">
          <button type="button" (click)="slide.show = !slide.show">
            <i class="fa fa-plus" *ngIf="!slide.show"></i>
            <i class="fa fa-minus" *ngIf="slide.show"></i>
          </button>
          <span>{{slide.name}}</span><br>
        </div>
        <epsi-slides-list-item [category]="slide" *ngIf="slide.show"></epsi-slides-list-item>
      </li>
    </ul>
  </epsi-panel>

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

</div>