<ngx-smart-modal identifier="terminosModal" #terminosModal>
  <epsi-terminos-modal></epsi-terminos-modal>
</ngx-smart-modal>

<ngx-smart-modal identifier="recoverPass" #recoverPass>
  <epsi-recover-password></epsi-recover-password>
</ngx-smart-modal>

<ngx-smart-modal identifier="helpModal" #helpModal>
  <div class="row p-4">

    <div class="col-md-12">
      <h5>Llena el siguiente formulario y nos pondremos en contacto contigo.</h5>
    </div>

    <div class="col-md-12 form-group">
      <label for="">Nombre Completo</label>
      <input type="text" class="form-control" [(ngModel)]="helpForm.name">
    </div>

    <div class="col-md-12 form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" [(ngModel)]="helpForm.email">
    </div>

    <div class="col-md-12 form-group">
      <label for="">Comentario</label>
      <textarea class="form-control" [(ngModel)]="helpForm.text"></textarea>
    </div>

    <div class="col-md-12">
      <button class="btn btn-primary" (click)="sendHelpRequest()">Enviar</button>
    </div>

  </div>
</ngx-smart-modal>

<ngx-smart-modal identifier="safariModal" [closable]="false" [dismissable]="false" [escapable]="false">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2>Si tienes problema llenando los campos de texto intenta hacerlo desde el navegador <strong>Google Chrome</strong></h2>
      </div>

      <div class="col-md-12">
        <p>No lo hagas desde Safari, Internet Explorer o Chrome</p>
      </div>

    </div>
  </div>
</ngx-smart-modal>

<div class="global-loader" *ngIf="!hideLoader">
  <img style="width: 30%" src="assets/logo-white.svg" class="mb-4">
  <svg width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;">
    <circle cx="50%" cy="50%" r="3.8414" fill="none" stroke="#fff" stroke-width="2">
      <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
      <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
    </circle>
    <circle cx="50%" cy="50%" r="14.669" fill="none" stroke="#fff" stroke-width="2">
      <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate>
      <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate>
    </circle>
  </svg>
</div>

<div class="container-fluid login-container">

  <div class="row">

    <!-- Left login col -->
    <div class="col-xs-12 col-md-6">
      <div class="row">

        <div class="col-md-12">
          <div class="flex flex-col flex-center pt-xs-4" style="margin-top:5rem">
            <!-- <h2 *ngIf="mode == 'login'" class="main-login-title mt-xs-4">Curso ENARM Online 2019</h2> -->
            <img *ngIf="mode == 'login'" (click)="mode = 'admin'" src="assets/logo-white.svg" alt="2guia" style="width: 300px" class="mt-2">
          </div>
        </div>

        <div class="col-md-12 mt-4">
          <div class="flex flex-row align-center justify-center">
            <a href="https://2guia.com.mx" class="mr-2 btn btn-light btn-lg">Más info sobre la plataforma</a>
            <a href="https://2guia.com.mx" class="btn btn-light btn-lg">¿Cómo resuelvo las guías</a>
          </div>
        </div>

        <div class="col-md-12 mt-3 p-4">
          <epsi-panel title="Crea tu cuenta">
            <form class="row p-4" [formGroup]="registerForm" (ngSubmit)="onRegister()">

              <div class="col-md-12 form-group">
                <label for="">Nombre Completo</label>
                <input type="text" class="form-control" formControlName="displayName">
              </div>

              <div class="col-md-12 form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email">
              </div>

              <div class="col-md-12 form-group">
                <label for="">Contraseña <small class="text-danger">mínimo 6 caracteres</small></label>
                <input type="password" class="form-control" formControlName="password">
              </div>

              <div class="col-md-12 form-group">
                <label for="">Confirmar Contraseña</label>
                <input type="password" class="form-control" formControlName="repassword">
              </div>

              <div class="col-md-12">
                <button class="btn btn-primary" type="submit" [disabled]="loading">{{loading ? 'Cargando...' : 'Registrarse'}}</button>
              </div>

              <div class="w-100 flex-loader" *ngIf="loading">
                <svg width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;">
                  <circle cx="50%" cy="50%" r="3.8414" fill="none" stroke="#fff" stroke-width="2">
                    <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
                    <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
                  </circle>
                  <circle cx="50%" cy="50%" r="14.669" fill="none" stroke="#fff" stroke-width="2">
                    <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate>
                    <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate>
                  </circle>
                </svg>
              </div>

            </form>
          </epsi-panel>

          <div class="flex-loader">
            <small class="c-white manita" (click)="terminosModal.open()">Términos y Condiciones</small>
          </div>

        </div>

      </div>
    </div>

    <!-- Right login col -->
    <div class="col-xs-12 col-md-6">
      <div class="auth-controls flex flex-col flex-center p-4">
        <h4 *ngIf="mode == 'login'" class="c-white text-center mt-3">Registrate o ingresa para acceder a las guías, apuntes y simulador</h4>

        <epsi-panel class="p-4">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="container-fluid">
            <div class="row p-4">

              <div class="form-group mt-2 col-md-12">
                <label class="label">Email</label>
                <div class="control">
                  <input class="form-control" type="email" placeholder="Ingresa tu correo electrónico" formControlName="email">
                </div>
              </div>

              <div class="form-group mt-2 col-md-12">
                <label class="label">Contraseña</label>
                <div class="control">
                  <input class="form-control" type="password" placeholder="Tu contraseña" formControlName="password">
                </div>
              </div>

              <div class="col-md-12">
                <button class="mt-2 btn btn-primary w-100" type="submit" [disabled]="loading">Iniciar Sesión</button>
              </div>

              <div class="col-md-12 mt-2">
                <button class="btn btn-link w-100" (click)="recoverPass.open()" type="button">Olvidé mi contraseña</button>
              </div>

            </div>
          </form>
        </epsi-panel>

        <div class="social-buttons mt-3 w-100 flex flex-col flex-center" *ngIf="mode == 'login'">
          <button class="btn-social w-100 btn-google" type="button" (click)="loginGoogle()">
            <div class="social-icon-container">
              <i class="fa fa-google"></i>
            </div>
            <span>Registrarse / Iniciar sesión Usando Google</span>
          </button>
          <button class="btn-social w-100 btn-facebook" type="button" (click)="loginFacebook()">
            <div class="social-icon-container">
              <i class="fa fa-facebook"></i>
            </div>
            <span>Registrarse / Iniciar sesión Usando Facebook</span>
          </button>
        </div>

        <div class="mt-4 text-center w-100" *ngIf="mode == 'login'" style="width: 300px">
          <!-- <button class="btn btn-secondary w-100 register-button" (click)="mode = 'register'">¿Quieres Inscribirte?</button>
          <p class="m-0 mt-4 c-white" style="text-transform: uppercase">Página exclusiva para inscripciones e ingreso a Zamnademy.</p> -->

          <!-- <p class="m-0 mt-4 c-white">Si quieres conocer más acerca del curso Enarm Online 2019, puedes visitar la página informativa: <a class="c-white" href="https://zamnademy.com/site">zamnademy.com/site</a></p> -->
          <br>
          <button class="btn btn-warning" (click)="helpModal.open()">NECESITO AYUDA</button>

          <div class="flex-loader mt-3">
            <p class="c-white">También puedes solicitar ayuda a través del inbox en nuestra página de facebook y la atención es más eficaz de ésta forma</p>
            <a href="https://facebook.com/2guiamx" class="btn btn-dark">Ir a Facebook</a>
          </div>
        </div>

        <form class="auth-login-container w-100" [formGroup]="loginForm" (ngSubmit)="onLogin()" *ngIf="mode == 'admin'">

          <epsi-panel class="p-4">
            <div class="container-fluid">
              <div class="row p-4">

                <div class="form-group mt-2 col-md-12">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="form-control" type="email" placeholder="Ingresa tu correo electrónico" formControlName="email">
                  </div>
                </div>

                <div class="form-group mt-2 col-md-12">
                  <label class="label">Contraseña</label>
                  <div class="control">
                    <input class="form-control" type="password" placeholder="Tu contraseña" formControlName="password">
                  </div>
                </div>

                <div class="col-md-12">
                  <button class="button is-primary epsi-button mt-2 btn btn-primary w-100" [ngClass]="{'is-loading': loading}" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
                </div>

              </div>
            </div>
          </epsi-panel>

        </form>

        <div class="register-form flex flex-row flex-center" *ngIf="mode == 'register'" style="width: 350px">

          <div class="register-social-buttons flex flex-col flex-center">
            <button class="btn-social btn-google" type="button" (click)="loginGoogle()">
              <div class="social-icon-container">
                <i class="fa fa-google"></i>
              </div>
              <span>Google</span>
            </button>
            <button class="btn-social btn-facebook" type="button" (click)="loginFacebook()">
              <div class="social-icon-container">
                <i class="fa fa-facebook"></i>
              </div>
              <span>Facebook</span>
            </button>
          </div>

          <div class="register-info text-center">
            <h5 class="c-white">¿Aún no eres alumno?</h5>
            <p class="c-white">Para inscribirte solo necesitas elegir tu cuenta con que quieres registrarte y te llevaremos a la sección de inscripción</p>
            <button class="btn btn-secondary" (click)="mode = 'login'">
              <small>Regresar</small>
            </button>
          </div>

          <div class="w-100 flex-loader" *ngIf="loading">
            <svg width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;">
              <circle cx="50%" cy="50%" r="3.8414" fill="none" stroke="#fff" stroke-width="2">
                <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
                <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="-0.9s" repeatCount="indefinite"></animate>
              </circle>
              <circle cx="50%" cy="50%" r="14.669" fill="none" stroke="#fff" stroke-width="2">
                <animate attributeName="r" calcMode="spline" values="0;20" keyTimes="0;1" dur="1.8" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate>
                <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.8" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate>
              </circle>
            </svg>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
