<div class="epsi-ad-pit-panel">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <!-- <h4>¿TE GUSTA EL SISTEMA DE VIDEO CLASES DEL PROGRAMA DE INICIO TEMPRANO?</h4> -->
        <h4>TE DAMOS LA BIENVENIDA!</h4>
        <small>El curso oficial dará inicio en abril de 2019</small>
      </div>

      <div class="col-md-12">
        <h5>¿Quieres aprovechar los últimos 3 meses antes de abril?</h5>
      </div>

      <div class="col-md-12">
        <p>
          <strong>Sé parte del programa de inicio temprano por <del>$299</del> $199 pesos</strong>
        </p>
        <p>
          <strong>Estudiemos juntos hasta el inicio en Abril</strong>
        </p>
      </div>

      <div class="col-md-12">
        <small>*Puedes revisar más del programa en la página informativa</small>
      </div>

      <div class="col-md-12 mt-2">
        <a href="http://zamnademy.com/site#how-works" class="btn btn-secondary text-black-50">Saber Más</a>
        <a [routerLink]="[ '/pagar/comprar-pit' ]" class="btn btn-secondary ml-2 text-black-50">Sí, quiero inscribirme</a>
      </div>

    </div>
  </div>
</div>