<div class="container m-2">
  <div class="row">

    <div class="col-md-12" *ngFor="let stat of stats">
      <div class="row">

        <!-- <div class="col-md-12" *ngIf="results">
          <pre>{{results | json}}</pre>
        </div> -->

          <div class="col-md-12 mb-2" style="max-height: 200px;overflow-y: auto;">
            <p>
              <strong>{{stat.q.text}}</strong>
            </p>
          </div>

          <div class="col-md-12">
            <h5 class="c-epsi-primary">¿Elegiste la correcta?</h5>
          </div>

          <div class="col-md-12" *ngIf="stat.q.respuestas as rList">
            <!-- <pre>{{stat.q | json}}</pre> -->
            <ul class="list-group">
              <li class="list-group-item flex flex-row flex-start align-center" *ngFor="let r of rList">
                <i class="fa fa-check text-success" *ngIf="stat.q.correcta == r.id"></i>
                <i class="fa fa-close text-danger" *ngIf="stat.q.correcta != r.id"></i>
                <span class="ml-2" [ngClass]="{'c-epsi-primary text-bolder': results && results.questions && results.questions[stat.q.id] && results.questions[stat.q.id].selected.id == r.id}">{{r.text}}</span>
              </li>
            </ul>
          </div>

          <hr>

          <div class="col-md-12 mt-4" *ngIf="stat.q.feedback">
            <h5 class="m-0">Feedback</h5>
            <p class="m-0 m-t1">{{stat.q.feedback}}</p>
            <!--<pre>{{stat | json}}</pre>-->
          </div>

          <hr>

          <div class="col-md-12 mt-4" *ngIf="stat.stat$ | async as _stat">
            <h5 class="m-0 text-danger">Y los demás... ¿Qué eligieron?</h5>
            <!-- <pre>{{_stat.stat | json}}</pre> -->
            <ul class="list-group" *ngIf="_stat.stat">
              <li class="list-group-item flex flex-col flex-start" *ngFor="let s of filterStats(stat.q, _stat.stat)">
                <strong> <span class="c-epsi-primary">{{ getPercent(_stat.total, s[1], filterStats(stat.q, _stat.stat)) | number }}%</span> {{s[0]}}</strong>
                <!-- <pre>{{ s | json }}</pre> -->
                <div class="barra-container" [style.width.%]="getPercent(_stat.total, s[1], filterStats(stat.q, _stat.stat))">
                  <div class="barra"></div>
                </div>
              </li>
            </ul>
          </div>

      </div>
      <hr>
    </div>

    <div class="col-md-12 flex-loader mt-2">
      <button class="btn btn-primary" type="button" (click)="closeModal()">Seguir</button>
    </div>

    <!-- <div class="col-md-12">
      <pre>{{ q | json }}</pre>
    </div> -->

  </div>
</div>
