/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import "~placeholder-loading/src/scss/placeholder-loading";
@import "~angular-calendar/css/angular-calendar.css";
@import 'assets/epsi-ui.scss';
@import 'assets/epsi-simuladores.scss';
@import 'assets/zamnademy.scss';
@import 'assets/css/font-awesome.min.css';
@import "~ngx-smart-modal/ngx-smart-modal";

// Disable global select
* {
  user-select: none;
}

#toast-container > div {
  opacity:1;
}

.navbar-timer-label {
  font-size: 1.75rem;
  color: white !important;
  font-weight: lighter !important;
}

.navbar-timer-label strong {
  font-weight: lighter !important;
}

.navbar-timer-label small {
  font-size: 0.75rem;
  font-weight: lighter !important;
}

// Calendar Override
.cal-month-view .cal-event {
  width: 25px !important;
  height: 25px !important;
}

.btn-orange {
  background-color: yellow !important;
  border-color: darken(yellow, 5%) !important;
}
