@import '../../../variables.scss';

.epsi-panel {

  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 1rem;

  .epsi-panel-title {

    padding: 1.5rem;
    font-size: 1.75rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: $epsi-text-color-primary;
    align-items: center;

    img {
      width: 64px !important;
      height: 64px !important;
      margin-right: 1rem;
    }

  }

}

.blur-panel {
  filter: blur(10px);
  pointer-events: none;
}