<ngx-smart-modal *ngIf="tutorial" [identifier]="tutorial" #tutorialModal>
  <div class="container" *ngIf="tutorial$ | async as tut">
    <div class="row">
      <div class="col-md-12">
        <p style="white-space: pre-wrap !important;">{{tut.text}}</p>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<div class="epsi-panel">

  <small class="ml-2" *ngIf="!showContent && !toggleText">Dar click para ver sección</small>

  <div class="epsi-panel-title manita flex flex-row flex-start" *ngIf="title">
    <img [src]="img" *ngIf="img" (click)="showContent = !showContent">
    <div class="flex flex-col flex-sart">
      <span (click)="showContent = !showContent">{{title}}</span>
      <small class="m-0 panel-desc" *ngIf="desc">{{desc}}</small>
    </div>
    <button class="btn ml-2" (click)="modal.getModal(tutorial).open()" *ngIf="tutorial">
      <i class="fa fa-info-circle tutorial-button-icon"></i>
    </button>
  </div>

  <small class="ml-2 text-danger" *ngIf="!showContent && toggleText">{{toggleText}}</small>

  <div 
    class="epsi-panel-content" 
    *ngIf="showContent" 
    [ngStyle]="{overflowY: height ? 'auto' : null, height: height}"
    [ngClass]="{'blur-panel': blur}">
    <ng-content></ng-content>
  </div>

</div>
