<ngx-smart-modal identifier="simuladoresModal" #simuladoresModal>
  <epsi-simuladores-panel [showContent]="true"></epsi-simuladores-panel>
</ngx-smart-modal>

<ngx-smart-modal identifier="poolModal" #poolModal>
  <epsi-question-pool-panel [showContent]="true"></epsi-question-pool-panel>
</ngx-smart-modal>

<ngx-smart-modal identifier="porTemaModal" #porTemaModal>
  <epsi-tags-pool-panel [showContent]="true"></epsi-tags-pool-panel>
</ngx-smart-modal>

<ngx-smart-modal identifier="simulacrosModal" #simulacrosModal>
  <epsi-simulacros-panel [showContent]="true"></epsi-simulacros-panel>
</ngx-smart-modal>

<epsi-panel title="Zona ENARM" img="assets/zamnademy/simulacro.png">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-md-3 manita flex flex-loader">
        <img src="https://zamnademy.com/site/images/clients/simuladordiario.png" class="w-100 mb-2">
        <button class="btn btn-secondary" (click)="simuladoresModal.open()">Entrar</button>
      </div>

      <div class="col-xs-12 col-md-3 manita flex flex-loader" *ngIf="!auth.isPresencial">
        <img src="assets/zamnademy/zona-pool.svg" class="w-100 mb-2">
        <button class="btn btn-secondary" (click)="poolModal.open()">Entrar</button>
      </div>

      <div class="col-xs-12 col-md-3 manita flex flex-loader" *ngIf="!auth.isPresencial">
        <img src="assets/zamnademy/zona-portema.svg" class="w-100 mb-2">
        <button class="btn btn-secondary" (click)="porTemaModal.open()">Entrar</button>
      </div>

      <div class="col-xs-12 col-md-3 manita flex flex-loader">
        <img src="assets/zamnademy/zona-simulacro.png" class="w-100 mb-2">
        <button class="btn btn-secondary" (click)="simulacrosModal.open()">Entrar</button>
      </div>

    </div>
  </div>
</epsi-panel>
