<form [formGroup]="addForm" (ngSubmit)="submitForm()">

  <h2 class="c-epsi-primary">Agregar Pregunta</h2>

  <div class="form-group">
    <label for="">Texto</label>
    <textarea class="form-control" formControlName="text" rows="5"></textarea>
  </div>

  <div class="form-group">
    <label for="">Feedback</label>
    <textarea class="form-control" formControlName="feedback" rows="2"></textarea>
  </div>

  <div class="form-group">
    <label for="">Imágen</label>
    <app-storage-uploader (onFinish)="addForm.patchValue({img: $event})"></app-storage-uploader>
  </div>

  <div class="form-group" *ngIf="addForm.value.img">
    <img src="addForm.value.img" class="w-100">
  </div>

  <hr>

  <div class="respuestas-header flex flex-row flex-start align-center">
    <h5>Respuestas</h5>
    <button class="ml-auto btn btn-primary" type="button" (click)="addAnswer()">Nueva respuesta</button>
  </div>

  <ng-template #loader>
    <epsi-loader></epsi-loader>
  </ng-template>

  <ul *ngIf="addForm.value.respuestas as respuestas" class="p-0 mt-2">
    <epsi-answer-edit-item [answer]="r" [correcta]="addForm.value.correcta" (removed)="answerRemoved($event)" (edited)="answerEdited($event)" (selected)="answerSelected($event)" *ngFor="let r of respuestas"></epsi-answer-edit-item>
  </ul>

  <hr>

  <div class="question-tags form-group" *ngIf="tags && addForm.value.tags as currTags">
    <label for="">Tags</label>
    <div class="flex flex-row flex-start align-center">
      <input class="form-control" type="text" [ngbTypeahead]="searchTag" [(ngModel)]="tempTags" [ngModelOptions]="{standalone: true}" (selectItem)="tagInputChanged($event.item, currTags)">
      <button type="button" (click)="addNewTag(tempTags)" class="btn btn-success ml-2">Agregar Nuevo Tag</button>
    </div>
  </div>

  <!-- <button class="btn btn-primary w-100 mt-2 mb-2" type="button" (click)="addNewTag(tempTags)">Agregar Nuevo Tag</button> -->

  <ul *ngIf="addForm.value.tags as currTags" class="p-0">
    <li *ngFor="let tag of currTags" class="flex flex-row flex-start align-center mb-2">

      <button class="btn btn-danger mr-2" type="button" (click)="removeTag(tag, currTags)">
        <i class="fa fa-remove"></i>
      </button>

      <span>{{tag}}</span>

    </li>
  </ul>

  <button class="w-100 btn btn-success" type="submit" [disabled]="!addForm.valid">Agregar Pregunta</button>

  <pre>{{addForm.value | json}}</pre>

</form>
