<div class="content-item" (click)="
    unlocked
      ? isPrograma
        ? router.navigate(['/programa/materia', item.id])
        : router.navigate(['/content', item.id])
      : router.navigate([modularUrl])
  ">
  <img [src]="item.cover" [alt]="item.name" />

  <div class="flex flex-col w-100 mt-1" *ngIf="auth.loggedIn">
    <!-- <button class="btn btn-zamna-hollow btn-zamna-hollow-primary" type="button" *ngIf="unlocked">Entrar</button> -->
    <button class="btn btn-success" type="button" (click)="router.navigate([modularUrl])" *ngIf="!unlocked">
      Comprar
    </button>

    <button class="btn btn-success" type="button" (click)="updateItem({ liberadoInPrograma: true })"
      *ngIf="auth.isAdmin && !item.liberadoInPrograma">
      Liberar
    </button>
    <button class="btn btn-danger" type="button" (click)="updateItem({ liberadoInPrograma: false })"
      *ngIf="auth.isAdmin && item.liberadoInPrograma">
      Bloquear
    </button>
  </div>
</div>